﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Crossfilter Basics</title>
    <meta name="author" content="Irene Ros">
    <!-- Date: 2012-06-29 -->
    <style>
        .Barchart .label {
            font-size: 10px;
        }

        .Barchart .ylabels .tick line {
            fill: none;
            stroke: #222;
            stroke-width: 1px;
            shape-rendering: crispEdges;
        }

        .Barchart path.domain {
            fill: none;
            stroke: #222;
            stroke-width: 1px;
            shape-rendering: crispEdges;
        }

        .Barchart .bars rect.bar {
            fill: #97E8A2;
        }
         .Barchart .bars rect.bar:hover {
            fill: #9eE8A2;
        }
         .xlabels text {
             font-family: Calibri, 'Trebuchet MS', sans-serif;
             font-size: 15px;
             fill: slategray;
             stroke: slategray
         }
    </style>
</head>
<body ng-app="app">
   
    <div id="outputmorph">
        <svg height="400" width="400">
            <g transform="translate(200,200)">
                <path fill="#1f77b4" d="M0,-100A100,100 0 0,1 6.799643194310426,-99.7685564315234L3.399821597155213,-49.8842782157617A50,50 0 0,0 0,-50Z"></path>
                <path id="sample" fill="#d62728" d="M-98.86775902323392,15.005539834465218A100,100 0 0,1 -69.94583270516462,-71.46733860429602L-52.45937452887347,-53.60050395322201A75,75 0 0,0 -74.15081926742543,11.254154875848913Z"></path>
                <circle id="circ" cx="40" cy="30" r="80" fill="green"></circle>
                <path d="M100,100A50,50 0 0,1 200,100A50,50, 0 0,1 100,100" fill="red"/>
            </g>

        </svg>
    </div>
    <button onclick="stretch()">stretch</button><button onclick="flatten()">flatten the circle</button>
    <div id="outputdonut">
        
    </div>
    <button onclick="DoMakeIt(1)">Make It</button><button onclick="DoMakeIt(-1)">Back</button>
    <button onclick="doResize(300)">300</button><button onclick="doResize(600)">600</button>
    <button onclick="donutchart.innerRadius(25)">Radius 25</button><button onclick="donutchart.innerRadius(50)">Radius 50</button>
    <button onclick="donutchart.transitionDuration(250)">Fast </button><button onclick="donutchart.transitionDuration(1500)">Slow</button>
    <div id="test" ng-controller="myCtrlr">
        <my-donut height="600" width="600" inner-radius="innerRadius" outer-radius="150" chart-data="chartData">

        </my-donut>
        <button ng-click="DoAngular(1)">Make It Angular</button><button ng-click="DoAngular(-1)">Back Angular</button>
        <input type="range" min="0" max="50" ng-model="innerRadius"/>

    </div>
    <div id="output"></div>
   
    <!-- <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.min.js"></script> -->
    <script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript" src="js/d3.chart.js"></script>

    <script src="bower_components/angular/angular.min.js"></script> 
    <script type="text/javascript">
        function stretch() {
            d3.select("#sample")
                .transition()
                .duration(1000)
                    .attr("d", "M0,100 A10000,10000 0 0,1 0,-50L50,-50A10000,10000 0 0,0 50,100Z")
            .each("end",function () {
                d3.select(this)
                    .attr("d", "M0,100L 0,-50L 50, -50L 50,100Z");
            })
        };
        String.prototype.format = function () {
            var formatted = this;
            for (var i = 0; i < arguments.length; i++) {
                var regexp = new RegExp('\\{' + i + '\\}', 'gi');
                formatted = formatted.replace(regexp, arguments[i]);
            }
            return formatted;
        };

        function flatten() {
            var circle = d3.select("#circ");
            circleToRect(circle, 0, 50, 80, 200);
        };
        function circleToRect(circle, x, y, height, width) {
            // first get the cx xy  and r of the circle

            var cx = circle.attr("cx");
            var cy = circle.attr("cy");
            var r = circle.attr("r");
            //
            // now use some match to calculate the corners of the square inside this circle
            var root2on2 = Math.sqrt(2)/2;          //.707... = cos 45% = sin 45%
            var x0 = +cx - root2on2 * r;
            var y0 = +cy - root2on2 * r;
            var x1 = +cx + root2on2 * r;
            var y1 = +cy + root2on2 * r;

            var newD = "M{1},{2}A{0},{0} 0 0,1 {3},{2}A{0},{0} 0 0,1 {3},{4}A{0},{0} 0 0,1 {1},{4}A{0},{0} 0 0,1 {1},{2}";
            var endD = "M{1},{2} L{3},{2} L{3},{4} L{1},{4} L{1},{2}";
            var d = newD.format(r, x0, y0, x1, y1);
            var d2 = newD.format(8000, x , y, x + width, y + height);
            var dend = endD.format(5000, x , y, x + width, y + height);
            var arc = d3.select(circle.node().parentNode)
                         .append("path")
                             .attr("fill", circle.attr("fill"))
                             .attr("d", d);
           circle.remove();
           arc.transition()
                .duration(1000)
                .attr("d", d2)
                .each("end" , function() { d3.select(this).attr("d", dend);});

        }
    </script>
  <script>
        /**
* A bar chart. Required data format:
* [ { name : x-axis-bar-label, value : N }, ...]
*
*  Sample use:
*  var bargraph = d3.select('#bargraph')
*    .append('svg')
*    .chart('BarChart')
*    .yFormat(d3.format("d"))
*    .height(400)
*    .width(800)
*    .max(1.0);
*  bargraph.draw(bardata);
*/
       
        d3.chart('BarChart', {

            initialize: function () {
                var chart = this;

                // chart margins to account for labels.
                // we may want to have setters for this.
                // not sure how necessary that is tbh.
                chart.margins = {
                    top: 10,
                    bottom: 100,
                    left: 50,
                    right: 0,
                    padding: 10
                };

                // default chart ranges
                // chart.x = d3.scale.linear();
                chart.x = d3.scale.ordinal();
                chart.y = d3.scale.linear();

                chart.basechart
                  .classed('Barchart', true);

                // non data driven areas (as in not to be independatly drawn)
                chart.areas = {};

                // cache for selections that are layer bases.
                chart.layers = {};

                // make sections for labels and main area
                //  _________________
                // |Y|    bars      |
                // | |              |
                // | |              |
                // | |              |
                // | |______________|
                //   |      X       |

                // -- areas
                chart.areas.ylabels = chart.base.append('g')
                  .classed('ylabels', true)
                  .attr('width', chart.margins.left)
                  .attr('transform',
                    'translate(' + (chart.margins.left - 1) + ',' + (chart.margins.top + 1) + ')');

                // -- actual layers
                chart.layers.bars = chart.base.append('g')
                  .classed('bars', true)
                  .attr('transform',
                    'translate(' + chart.margins.left + ',' + (chart.margins.top + 1) + ')');

                chart.areas.xlabels = chart.base.append('g')
                  .classed('xlabels', true)
                  .attr('height', chart.margins.bottom);

                chart.on("change:width", function () {
                    chart.x.rangeRoundBands([0, chart.w - chart.margins.left], .1);
                    chart.layers.bars.attr('width', chart.w - chart.margins.left);
                    chart.areas.xlabels.attr('width', chart.w - chart.margins.left);
                });

                chart.on("change:height", function () {
                    chart.y.range([chart.h - chart.margins.bottom - chart.margins.top, 0]);
                    chart.areas.ylabels
                      .attr('height', chart.h - chart.margins.bottom - chart.margins.top - 1);
                    chart.layers.bars
                      .attr('height', chart.h - chart.margins.bottom - chart.margins.top);
                    chart.areas.xlabels
                      .attr('transform', 'translate(' + chart.margins.left + ',' +
                      (chart.h - chart.margins.bottom + 1) + ')');
                });

                // make actual layers

              
                chart.layer('bars', chart.layers.bars, {
                    // data format:
                    // [ { name : x-axis-bar-label, value : N }, ...]
                    dataBind: function (data) {

                        chart.data = data;

                        // how many bars?
                        chart.bars = data.length;

                        // compute box size
                        chart.bar_width = (chart.w - chart.margins.left - ((chart.bars - 1) *
                          chart.margins.padding)) / chart.bars;


                        //
                    

                        // adjust the y domain - find the max in the data.
                        chart.datamax = chart.usermax ||
                          d3.extent(data, function (d) { return d.value; })[1];

                        chart.y.domain([0, chart.datamax]);

                        // draw yaxis
                        var yAxis = d3.svg.axis()
                          .scale(chart.y)
                          .orient('left')
                          .ticks(5)
                          .tickFormat(chart._yformat || d3.format('.0%'));

                        chart.areas.ylabels
                          .call(yAxis);

                        // adjust the x domain - the number of bars.
                        chart.x
                            .domain(data.map(function (d) { return d.name; }));


                        var xAxis = d3.svg.axis()
                            .scale(chart.x)
                            .orient("bottom");
                        chart.areas.xlabels
                            .call(xAxis)
                         //.selectAll("text")
                         //   .attr("y", 0)
                         //   .attr("x", -30)
                         //   .attr("dy", ".35em")
                         //   .attr("transform", " rotate(270) ")
                            
                         //   .style("text-anchor", "start");

                        return this.selectAll('rect')
                          .data(data, function (d) { return d.name; });
                    },
                    insert: function () {events
                        var theBars = this.append('rect')
                          .classed('bar', true)
                          .classed('highlight', function (d) {
                              return d.highlight;
                          });
                        theBars.append('title');
                        return theBars;
                    },

                    events: {
                        exit: function () {
                            this.remove();
                        }
                    }
                });

              

                // on new/update data
                // render the bars.
                var onEnter = function () {
                    this.attr('x', function (d, i) {
                        // note that an ordinal scale is keyd by the ordinal
                        //return chart.x(i) - 0.5;
                        return chart.x(chart.x.domain()[i]) - 0.5;
                    })
                        .attr('y', function (d) {
                            return chart.h - chart.margins.bottom -
                              chart.margins.top - chart.y(chart.datamax - d.value) - 0.5;
                        })
                        .attr('val', function (d) {
                            return d.value;
                        })
                        .attr('width', chart.bar_width)
                        .attr('height', function (d) {
                            return chart.y(chart.datamax - d.value);
                        });
                    this.selectAll('title')
                        .text(function (d, i) {
                            return d.value;
                        });
                };

                chart.layer('bars').on('enter', onEnter);
                chart.layer('bars').on('update', onEnter);
            },

            // return or set the max of the data. otherwise
            // it will use the data max.
            max: function (datamax) {
                if (!arguments.length) {
                    return this.usermax;
                }

                this.usermax = datamax;

                if (this.data) this.draw(this.data);

                return this;
            },

            yFormat: function (format) {
                if (!arguments.length) {
                    return this._yformat;
                }
                this._yformat = format;
                return this;
            },

            width: function (newWidth) {
                if (!arguments.length) {
                    return this.w;
                }
                // save new width
                this.w = newWidth;

          

                // adjust the base width
                this.base.attr('width', this.w);

                this.trigger("change:width");
                if (this.data) this.draw(this.data);

                return this;
            },

            height: function (newHeight) {
                if (!arguments.length) {
                    return this.h;
                }

                // save new height
                this.h = newHeight;

                // adjust the y scale
                this.y = d3.scale.linear()
                  .range([this.h - this.margins.top, this.margins.bottom]);

                // adjust the base width
                this.base.attr('height', this.h);

                this.trigger("change:height");
                if (this.data) this.draw(this.data);
                return this;
            }
        });

        ////////
        // donut

        (function () {
            if (!d3.chart._chtproperty) {
                d3.chart._chtproperty = function (name, defValue) {
                    var pf = function (newValue) {
                        var f = arguments.callee;
                        if (!arguments.length) {
                            if (f._value === undefined)
                                f._value = defValue||0;
                            return f._value;
                        }
                        // save new width
                        if (!isNaN(newValue)) {
                            var oldvalue = f._value;
                            f._value = newValue;            // this makes the storage aproperty of the function

                            if (f._value != oldvalue)
                                this.trigger("change:" + f._name, newValue, oldvalue);
                        }
                        return this;
                    };
                    pf._name = name;
                    return pf;

                };
            }
            if (!d3.chart._margins) {
                d3.chart._margins = function (left, top, bottom, right) {
                    var mf = function (left, top, bottom, right) {

                        var f = arguments.callee;
                        if (f.data === undefined)
                            f.data = { left: left||0, top: top||0, bottom: bottom||0, right: right||0 };
                        if (!arguments.length)
                            return f.data;           // so we can say chart.margins().left ... etc

                        var settings;
                        if (Array.isArray(arguments[0]))
                            settings = arguments[0]
                        else
                            settings = arguments;

                        var fChanged = false;
                        if (settings.length >= 1) {
                            if (!isNaN(left)) {
                                
                                if (!(f.data.left = left)) {
                                    f.data.left = left;            // this makes the storage aproperty of the function
                                    fChanged = true;
                                }
                                
                            }
                        }
                        if (settings.length >= 2) {
                            if (!isNaN(top)) {

                                if (!(f.data.top = top)) {
                                    f.data.top = top;            // this makes the storage aproperty of the function
                                    fChanged = true;
                                }

                            }
                        }
                        if (settings.length >= 3) {
                            if (!isNaN(bottom)) {

                                if (!(f.data.bottom = bottom)) {
                                    f.data.bottom = bottom;            // this makes the storage aproperty of the function
                                    fChanged = true;
                                }

                            }
                        }
                        if (settings.length >= 4) {
                            if (!isNaN(right)) {

                                if (!(f.data.right = right)) {
                                    f.data.right = right;            // this makes the storage aproperty of the function
                                    fChanged = true;
                                }

                            }
                        }
                        if (fChanged)
                            this.trigger("change:margins");
                        return this;
                    };
                    return mf;

                };
            }
           
            function panel(height, width) {
                
                this.height = (height || 0);
                this.width = (width || 0);
                this.margins = d3.chart._margins(0, 0, 0, 0);
                
            }
            panel.prototype.make = function (parent, classname) {
                return parent.append("g")
                    .classed(classname, true);
            };

            var baseInitialize = function () {
                // setup some reasonable defaults
                var chart = this;

              

                this.margins(20, 20, 20, 20);



                this.width ( this.base.attr('width') ? this.base.attr('width') - this.margins.left() - this.margins.right() : 200);
                this.height (this.base.attr('height') ? this.base.attr('height') - this.margins.top() - this.margins.bottom() : 200);


               


                // add a marginalized container
                this.container = this.base.append('g')
                    .classed("container", true)
                    
               
                this.predraw = this.container.append("g")
                    .classed("predraw", true)
                    
                this.drawbase = this.container.append("g")
                    .classed("draw", true)
                    
                this.postdraw = this.container.append("g")
                    .classed("postdraw", true)

                chart.on("change:width", chart.updateLayout);
                chart.on("change:height", chart.updateLayout);



            };
            d3.chart("baseChart", {
                initialize: baseInitialize,

               
                // base public api
                //updateContainerWidth: function () { this.base.attr('width', this.width() + this.margins().left + this.margins().right); },
                //updateContainerHeight: function () { this.base.attr('height', this.height() + this.margins().top + this.margins().bottom); },
                updateLayout: function () {
                    this.base
                        .attr('height', this.height() + this.margins().top + this.margins().bottom)
                        .attr('width', this.width() + this.margins().left + this.margins().right);
                    this.container
                        .attr('transform', 'translate(' + this.margins().left + ',' + (this.height() + this.margins().top) + ') scale(1,-1)');
                },
                
                width: d3.chart._chtproperty("width"),

                height: d3.chart._chtproperty("height"),
                margins: d3.chart._margins(),

                transitionDuration: d3.chart._chtproperty("transitionDuration"),

                // functions relating to object constancy

                
                keyAccessor: function (d, i) { return i; }


                // functions relating to color


            });

        })();
        (function () {
        
            //---------------------------------------------
            // d3.chart initialize function for donut chart
            //---------------------------------------------
            var donutInitialize = function () {
                var chart = this;

                /// helper functions
                var arc = d3.svg.arc()
                             .innerRadius(function () { return chart.innerRadius(); })
                             .outerRadius(function () { return chart.outerRadius(); });
                //.innerRadius(50)
                //.outerRadius(75);


                function arcTween(a) {

                    a.innerRadius = chart.innerRadius();
                    a.outerRadius = chart.outerRadius();

                    
                    var i = d3.interpolate(this._current, a);
                    this._current = i(0);
                    return function (t) {
                        var arc = d3.svg.arc()
                                .innerRadius(i(t).innerRadius)
                                .outerRadius(i(t).outerRadius);
                        return arc(i(t));
                    };
                };

                function arcKill(a) {

                    var i = d3.interpolate(this._current, {
                        innerRadius: chart.innerRadius(),
                        outerRadius: chart.outerRadius(),
                        startAngle: 2 * Math.PI, endAngle: 2 * Math.PI
                    });
                    this._current = i(0);
                    return function (t) {

                        return arc(i(t));
                    };
                };

                //----------------------------------------------------
                // event sets - these can be selected to provide different transitions
                //----------------------------------------------------
                
                //------------------------------------------------------
                // basic donut transitions
                //------------------------------------------------------
                var donutEventsBasic = {
                    "merge:transition": function () {
                        var chart = this.chart();

                        console.log(this);
                        console.log(this.selectAll("path"));
                        this
                            .delay(chart.transitionDuration())
                            .select("path")
                            .duration(chart.transitionDuration())
                            .attr("d", function (d, i) { return arc(d); })
                            .attrTween("d", arcTween)

                        return this;

                    },
                    enter: function () {

                        this
                            .select("path")
                           // _current is used to start transition
                            // we begin with an empty arc positioned at 2* PI this means that the arc enters anti-clockwise
                            // note that we only need to hold the startAngle and EndAngle, not value or data
                            // startNAgle and Endalge are enough to define the arc
                            // tweening is more complicated if data is an object - tweening of this pair of numbers is easy
                            .each(function (d) {
                                this._current = {
                                    innerRadius: chart.innerRadius(),
                                    outerRadius: chart.outerRadius(),
                                    startAngle: 2 * Math.PI, endAngle: 2 * Math.PI
                                };
                            });

                        return this;
                    },
                    merge: function () {
                        var chart = this.chart();
                        var color = d3.scale.category20();
                        this
                           .select("path")
                             .attr("fill", function (d, i) {
                                 return color(i);
                             })

                        return this;
                    },

                    "exit:transition": function () {
                        var chart = this.chart();
                        var extr = this;
                        this
                            .duration(chart.transitionDuration())
                            .remove()
                        .select("path")
                        .duration(chart.transitionDuration())
                        //.attr("d", function (d, i) { return arc.call(chart, { startAngle: 2 * Math.PI, endAngle: 2 * Math.PI }); })
                        .attrTween("d", arcKill);



                        return this;

                    },
                };
                //----------------------------------------------------------------
                //--------------------- DOM preparation --------------------------
                
               
                

                // create the pie element
                var donutBase = this.drawbase
                    .append("g")
                        .classed("donut", true);
                        

                chart.on("change:width", function () { donutBase.attr("transform", "translate(" + chart.width() / 2 + "," + chart.height() / 2 + ")"); });
                chart.on("change:height", function () { donutBase.attr("transform", "translate(" + chart.width() / 2 + "," + chart.height() / 2 + ")"); });

                var testredraw = function () {
                    if (chart.data) {
                            chart.draw(chart.data)
                        }
                        
                }
                chart.on("change:innerRadius", testredraw);
                //-------------------------------------------------------------
                // layer definitions
                //-------------------------------------------------------------

                this.layer("donut", donutBase, {
                    // pass the data to the layer to bind it
                    dataBind: function (data) {

                        var chart = this.chart();
                        // now we want to create a group for every piece of data
                        return this.selectAll("g.datapt")
                            .data(data, chart.keyAccesor);
                    },

                    // this sets up the data element representations - the memebrs of the set created in databind
                    // here, do stuff not dependent on the data
                    insert: function () {
                        var color = d3.scale.category20();
                        var newpts = this.append("g")
                            .classed("datapt", true);
                        // every g gets a path and a label
                        newpts.append("path")

                            .attr("fill", function (d, i) {
                                return color(i);
                            });
                        //   .attr("d", "M0,-150 A150,150, 0 0,1 0,-150 L0,-75 A75,75 0 1,1 0,-75 Z");

                        newpts.append("text")
                            .classed("label", true)
                            .attr("color", function (d, i) {
                                return "white";
                            });

                        // have to return the inserted set which is then passed to the enter event
                        return newpts;

                    },
                    events: donutEventsBasic
                });

                //--------- end layer definitions --------------------------------


 


            }; // -- initialize


            //--------------------------------------------------
            // this is where the data enters
            // the data returned from here is passed to each layer
            // -------------------------------------------------

            //----- data transform
            //
            var donutTransform = function (data) {
                console.log("donut transform");
                console.log(data);
                this.data = data;
                //data = d3.entries(data);
                var pie = d3.layout.pie(data)
                    .value(function (d, i) {
                        return d;
                    })
                    .sort(null)
                var pieData = pie(data);
                console.log(pieData);
                return pieData;

            };

        // register the chart

        d3.chart("baseChart").extend("DonutChart", {
        // -------------------------------------
        //    API 
        //-------------------------------------
       
        innerRadius: d3.chart._chtproperty("innerRadius"),

        outerRadius: d3.chart._chtproperty("outerRadius"),
        

        // --- end API
        initialize: donutInitialize,
        transform: donutTransform



        });

        })();
        //----------------------------------------------------------------------------

        var donutchart = d3.select("#outputdonut")
       .append('svg')
       .chart('DonutChart');

        donutchart
       .height(500)
       .width(900)
       .margins([20,20,20,20])
       .innerRadius(75)
       .outerRadius(100)

       .transitionDuration(1000);


        function doResize(newWidth) {
            donutchart
                .width(newWidth);
        };

        var counter = 0;
        function makeIt(d) {
            donutchart.draw(d);
        };
        function DoMakeIt(x) {

            counter = ((counter + x) % 6);
            console.log(counter);
            switch (counter) {
                case 0:
                    //dataset = { milk: 3, bread: 5, tea: 4, coffee: 8 };
                    dataset = [6, 9, 4, 8, 9, 17, 11, 9];
                    makeIt(dataset);
                    break;
                case 1:
                    dataset = [6, 9, 4, 8, 9, 17, 11, 9];
                    //dataset = { milk: 3, bread: 5, coffee: 8 };
                    makeIt(dataset);
                    break;
                case 2:
                    dataset = [2, 7, 6];
                    //dataset = { milk: 3, bread: 5, coffee: 8 , biscuits: 11};
                    makeIt(dataset);
                    break;
                case 3:
                    dataset = [12, 7, 9, 11];
                    //dataset = { milk: 3, bread: 5, coffee: 18, biscuits: 11 };
                    makeIt(dataset);
                    break;
                case 4:
                    dataset = [22, 7, 34, 11, 102];
                    //dataset = { milk: 13, bread: 5, coffee: 18, biscuits: 11 };
                    makeIt(dataset);
                    break;
                case 5:
                    dataset = [3, 17, 34, 211, 12];
                    //dataset = { milk: 3, coffee: 18, biscuits: 11 };
                    makeIt(dataset);
                    break;
            }
            console.log(dataset);
        };
        // try it out
        var barchart = d3.select(output)
          .append('svg')
          .chart('BarChart', {
              transform: function (data) {
                  return data.map(function (d) {
                      return { name: d.month, value: d.temperature };
                  });
              }
          })
          .yFormat(d3.format("d"))
          .height(400)
          .width(800);

        barchart.draw([
          { month: 'January', temperature: 29 },
          { month: 'February', temperature: 32 },
          { month: 'March', temperature: 48 },
          { month: 'April', temperature: 49 },
          { month: 'May', temperature: 58 },
          { month: 'June', temperature: 68 },
          { month: 'July', temperature: 74 },
          { month: 'August', temperature: 73 },
          { month: 'September', temperature: 65 },
          { month: 'October', temperature: 54 },
          { month: 'November', temperature: 45 },
          { month: 'December', temperature: 35 }
        ]);

     
    </script>
    <script>
        (function () {
            angular
                .module("app",[]);
            var myCtrlr = function ($scope) {
                var counter = 0;
                $scope.innerRadius = 30;
                $scope.chartData = [6, 9, 4, 8, 9, 17, 11, 9];
                $scope.DoAngular = function (x) {

                    counter = ((counter + x) % 6);
                    if (counter < 0)
                        counter = counter * -1;
                    console.log(counter);
                    switch (counter) {
                        case 0:
                            //dataset = { milk: 3, bread: 5, tea: 4, coffee: 8 };
                            $scope.chartData = [6, 9, 4, 8, 9, 17, 11, 9];

                            break;
                        case 1:
                            $scope.chartData = [6, 9, 4, 8, 9, 17, 11, 9];
                            //dataset = { milk: 3, bread: 5, coffee: 8 };

                            break;
                        case 2:
                            $scope.chartData = [2, 7, 6];
                            //dataset = { milk: 3, bread: 5, coffee: 8 , biscuits: 11};

                            break;
                        case 3:
                            $scope.chartData = [12, 7, 9, 11];
                            //dataset = { milk: 3, bread: 5, coffee: 18, biscuits: 11 };

                            break;
                        case 4:
                            $scope.chartData = [22, 7, 34, 11, 102];
                            //dataset = { milk: 13, bread: 5, coffee: 18, biscuits: 11 };

                            break;
                        case 5:
                            $scope.chartData = [3, 17, 34, 211, 12];

                            break;
                    }
                  
                };
            };
            var donut = function () {

                return {
                    restrict: 'E',
                    replace: true,
                    scope: {
                        height: "=",
                        heightA: "=height",
                        heightB: "@height",
                        width: "=",
                        innerRadius: "=",
                        outerRadius: "=",
                        chartData: "="
                    },
                    controller: function($scope) {
                        this.draw = function() {
                        
                            
                            $scope.donutchart
                               .height($scope.height)
                               .width($scope.width)
                               .margins([20,20,20,20])
                               .innerRadius($scope.innerRadius)
                               .outerRadius($scope.outerRadius)

                           .transitionDuration(1000);

                            $scope.donutchart.draw($scope.chartData);
                        }
                    },
                    controllerAs: "_ctrlr",
                    link: function (scope, elem, attrs) {
                        // the conoller is injected into scope as property <<controllerAs
                        // so reference it like that here
                     
                        var _ctrlr = scope._ctrlr;
                        scope.donutchart = d3.select(elem[0])
                        .append('svg')
                        .chart('DonutChart');

                        // we need to watch everything that may force a redraw
                        scope.$watch('chartData', _ctrlr.draw);
                        scope.$watch('innerRadius', function (newValue) {
                            scope.donutchart.innerRadius(newValue);
                        });
                        
                        }
                };
        };
            angular
                .module("app")
                .controller("myCtrlr", ['$scope', myCtrlr])
                .directive("myDonut", donut);

        })();
        (function () {

            //---------------------------------------------
            // d3.chart initialize function for donut chart
            //---------------------------------------------
            var morphInitialize = function () {
                var chart = this;


                //------------------------------------------------------
                // basic donut transitions
                //------------------------------------------------------
                var morphEvents = {
                    //"merge:transition": function () {
                    //    var chart = this.chart();

                    //    console.log(this);
                    //    console.log(this.selectAll("path"));
                    //    this

                    //        .select("path")
                    //        .duration(2000)
                    //        .attr("d", function (d, i) { return arc(d); })
                    //        .attrTween("d", arcTween)

                    //    return this;

                    //},
                    enter: function () {

                        this
                            .select("path")
                           // _current is used to start transition
                            // we begin with an empty arc positioned at 2* PI this means that the arc enters anti-clockwise
                            // note that we only need to hold the startAngle and EndAngle, not value or data
                            // startNAgle and Endalge are enough to define the arc
                            // tweening is more complicated if data is an object - tweening of this pair of numbers is easy
                            .each(function (d) {
                                this._current = {
                                    innerRadius: chart.innerRadius(),
                                    outerRadius: chart.innerRadius(),
                                    startAngle: 2 * Math.PI, endAngle: 2 * Math.PI
                                };
                            });

                        return this;
                    },
                    merge: function () {
                        var chart = this.chart();
                        var color = d3.scale.category20();
                        this
                           .select("path")
                             .attr("fill", function (d, i) {
                                 return color(i);
                             })

                        return this;
                    },

                    "exit:transition": function () {
                        var chart = this.chart();
                        var extr = this;
                        this
                            .duration(2000)
                            .remove()
                        .select("path")
                        .duration(2000)
                        .attr("d", function (d, i) { return arc.call(chart, { startAngle: 2 * Math.PI, endAngle: 2 * Math.PI }); })
                        .attrTween("d", arcKill);



                        return this;

                    },
                };
                //----------------------------------------------------------------
                //--------------------- DOM preparation --------------------------
                // create the pie element
                var morphBase = this.base
                    .attr("height", this.h)
                    .attr("width", this.w)
                    .append("g")
                        .classed("donut", true)
                        .attr("transform", "translate(" + this.width / 2 + "," + this.height / 2 + ")");

                //-------------------------------------------------------------
                // layer definitions
                //-------------------------------------------------------------

                this.layer("morph", morphBase, {
                    // pass the data to the layer to bind it
                    dataBind: function (data) {

                        var chart = this.chart();
                        // now we want to create a group for every piece of data
                        return this.selectAll("g.dataseries")
                            .data(data);
                    },

                    // this sets up the data element representations - the memebrs of the set created in databind
                    // here, do stuff not dependent on the data
                    insert: function () {
                        var color = d3.scale.category20();
                        var newseries = this.append("g")
                            .classed("dataseries", true);
                        // every g gets a path and a label
                        var newpoints = newseries.selectAll("g.datapoint")
                            .data()
                        newpts.append("path")
                            .attr("fill", function (d, i) {
                                return color(i);
                            });
                        //   .attr("d", "M0,-150 A150,150, 0 0,1 0,-150 L0,-75 A75,75 0 1,1 0,-75 Z");

                        newpts.append("text")
                            .classed("label", true)
                            .attr("color", function (d, i) {
                                return "white";
                            });

                        // have to return the inserted set which is then passed to the enter event
                        return newpts;

                    },
                    events: morphEvents
                });

                //--------- end layer definitions --------------------------------





            }; // -- initialize


            //--------------------------------------------------
            // this is where the data enters
            // the data returned from here is passed to each layer
            // -------------------------------------------------

            //----- data transform
            //
            var morphTransform = function (data) {
                console.log("donut transform");
                console.log(data);
                //data = d3.entries(data);
                return data;

            };

            // register the chart

            d3.chart("morphChart", {
                // -------------------------------------
                //    API 
                //-------------------------------------
                // configures the width of the chart.
                // when called without arguments, returns the
                // current width.
                width: function (newWidth) {
                    if (arguments.length === 0) {
                        return this.w || this.base.attr("width");
                    }
                    this.w = newWidth;
                    this.base
                         .attr("height", this.height())
                         .attr("width", this.width())
                         .select("g.donut")
                            .attr("transform", "translate(" + this.width() / 2 + "," + this.height() / 2 + ")");
                    return this;
                },

                // configures the height of the chart.
                // when called without arguments, returns the
                // current height.
                height: function (newHeight) {
                    if (arguments.length === 0) {
                        return this.h || this.base.attr("height");
                    }
                    this.h = newHeight;
                    this.base
                         .attr("height", this.height())
                         .attr("width", this.width())
                         .select("g.donut")
                            .attr("transform", "translate(" + this.width() / 2 + "," + this.height() / 2 + ")");
                    return this;
                },

                // --- end API
                initialize: morphInitialize,
                transform: morphTransform



            });

        })();
        //var morphchart = d3.select("outputmorph")
        //    .append('svg')
        //    .chart('morphChart')
        //    .height(200)
        //    .width(200)

        //morphchart.draw([
        //  { month: 'January', temperature: 29 },
        //  { month: 'February', temperature: 32 },
        //  { month: 'March', temperature: 48 },
        //  { month: 'April', temperature: 49 },
        //  { month: 'May', temperature: 58 },
        //  { month: 'June', temperature: 68 },
        //  { month: 'July', temperature: 74 },
        //  { month: 'August', temperature: 73 },
        //  { month: 'September', temperature: 65 },
        //  { month: 'October', temperature: 54 },
        //  { month: 'November', temperature: 45 },
        //  { month: 'December', temperature: 35 }
        //]);

    </script>
</body>
</html>


