﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    
    <style>
        .background {
            visibility:visible;

        }
       
        .plottable.scatter .legend text {

            font-family:Arial, Helvetica, sans-serif;
            font-size:12px;
            font-weight:normal;
        }
        .d3-tip {
          line-height: 1;
          font-weight: bold;
          padding: 12px;
          background: rgba(0, 0, 0, 0.8);
          color: #fff;
          border-radius: 2px;
        }

        /* Creates a small triangle extender for the tooltip */
        .d3-tip:after {
          box-sizing: border-box;
          display: inline;
          font-size: 10px;
          width: 100%;
          line-height: 1;
          color: rgba(0, 0, 0, 0.8);
          content: "\25BC";
          position: absolute;
          text-align: center;
        }

        /* Style northward tooltips differently */
        .d3-tip.n:after {
          margin: -1px 0 0 0;
          top: 100%;
          left: 0;
        
        }
        .feature {
            stroke: rgb(180, 180, 180);
            vector-effect: non-scaling-stroke; 
            stroke-width: .1;
        }
        .qMissing {
            fill: #d0d0d0;
        }
    </style>

    <link href="../bower_components/angularjs-slider/dist/rzslider.css" rel="stylesheet" />
    <link href="../bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="../bower_components/plottable/plottable.css" rel="stylesheet"/>
    <link href="../bower_components/d3/lib/colorbrewer/colorbrewer.css" rel="stylesheet" />
</head>
<body ng-app="pineapples">


    <!--
        <script src="_client/app/js/features/scatter/scatterAPI.js"></script>
     -->
<div ng-controller="ctrlr as vm">
  <table>
    <tr>
      <td>
        <select ng-model="vm.currentWorld" ng-options="world.name for world in vm.worlds">
        </select>
      </td>

      <td>
        <color-brewer-picker palette="vm.palette"></color-brewer-picker>
      </td>
      <td>
        <button ng-click="vm.genValues()">Gen</button>
      </td>
    </tr>

  </table>
  <p></p>
  <div worldmap height="600" width="800" extent="vm.extent"
       world="vm.topodata" values="vm.values"
       palette="vm.palette" q-as="{{vm.qAs}}" feature-set="{{vm.featureset}}"
       id-accessor="vm.idAccessor"></div>
</div>
  <script src="../test/stubs/googlemaps.js"></script>
  <script src="../bower_components/angular/angular.js"></script>
  <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="../bower_components/lodash/dist/lodash.compat.js"></script>
  <script src="../bower_components/d3/d3.js"></script>
  <script src="../bower_components/d3/lib/colorbrewer/colorbrewer.js"></script>
  <script src="../bower_components/crossfilter/crossfilter.js"></script>
  <script src="../bower_components/dcjs/dc.js"></script>
  <script src="../bower_components/angular-dc/dist/angular-dc.js"></script>
  <script src="../bower_components/dimple/dist/dimple.latest.js"></script>
  <script src="../bower_components/angular-dimple/dist/angular-dimple.js"></script>
  <script src="../bower_components/jquery/dist/jquery.js"></script>
  <script src="../bower_components/angular-pnotify/src/angular-pnotify.js"></script>
  <script src="../bower_components/angular-toggle-switch/angular-toggle-switch.min.js"></script>
  <script src="../bower_components/angular-ui-grid/ui-grid.js"></script>
  <script src="../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="../bower_components/angular-xeditable/dist/js/xeditable.js"></script>
  <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="../bower_components/d3-geo-projection/d3.geo.projection.js"></script>
  <script src="../bower_components/enquire/dist/enquire.js"></script>
  <script src="../bower_components/gmaps/gmaps.js"></script>
  <script src="../bower_components/jquery.inputmask/dist/jquery.inputmask.bundle.js"></script>
  <script src="../bower_components/jquery.slimscroll/jquery.slimscroll.min.js"></script>
  <script src="../bower_components/jquery.sparkline/index.js"></script>
  <script src="../bower_components/jquery-autosize/jquery.autosize.js"></script>
  <script src="../bower_components/jquery-validation/dist/jquery.validate.js"></script>
  <script src="../bower_components/jScrollPane/script/jquery.mousewheel.js"></script>
  <script src="../bower_components/jScrollPane/script/mwheelIntent.js"></script>
  <script src="../bower_components/jScrollPane/script/jquery.jscrollpane.min.js"></script>
  <script src="../bower_components/key_drag_zoom/index.js"></script>
  <script src="../bower_components/markerclustererplus/src/markerclusterer.js"></script>
  <script src="../bower_components/flow.js/dist/flow.js"></script>
  <script src="../bower_components/ng-flow/dist/ng-flow.js"></script>
  <script src="../bower_components/ngmap/build/scripts/ng-map.js"></script>
  <script src="../bower_components/angular-cookie/angular-cookie.js"></script>
  <script src="../bower_components/ng-token-auth/customised/ng-token-auth.js"></script>
  <script src="../bower_components/overlapping_marker_spiderfier/index.js"></script>
  <script src="../bower_components/svg-typewriter/svgtypewriter.js"></script>
  <script src="../bower_components/plottable/plottable.js"></script>
  <script src="../bower_components/pnotify_build/pnotify.custom.js"></script>
  <script src="../bower_components/restangular/dist/restangular.js"></script>
  <script src="../bower_components/seiyria-bootstrap-slider/js/bootstrap-slider.js"></script>
  <script src="../bower_components/skylo/vendor/scripts/skylo.js"></script>
  <script src="../bower_components/topojson/topojson.js"></script>
  <script src="../bower_components/angularjs-slider/dist/rzslider.js"></script>

  <script src="../scripts/app/pineapples.js"></script>
  <script src="../scripts/app/theme.js"></script>
    <script>
        ;
        (function() {

            var ctrlr = function($scope, $compile, $rootScope) {
                var self = this;
                this.extent = [];
                this.palette = { scheme: "Greens", bands: 8, invert: false };
                this.qAs = "css";

                this.showSchemeName = false;

                var currentWorld;
                Object.defineProperty(self, "currentWorld",
                {
                    get: function() { return currentWorld; },
                    set: function(value) {
                        currentWorld = value;
                        self.changeWorld(value);
                    }
                });
                this.genValues = () => {
                    self.values = self.featurekeys.map(function(k) {
                        return { id: k, value: Math.floor(Math.random() * 300) }
                    });

                };

                var eh = [
                    { id: "PG.EH.DA" },
                    { id: "PG.EH.GK" },
                    { id: "PG.EH.HE" },
                    { id: "PG.EH.KA" },
                    { id: "PG.EH.LF" },
                    { id: "PG.EH.OK" },
                    { id: "PG.EH.OW" },
                    { id: "PG.EH.UB" }
                ];
                this.worlds = [
                    { name: "PNG Provinces", topo: "PNG_adm1.topo.json", extent: [] },
                    { name: "PNG Districts", topo: "PNG_adm2.topo.json", extent: [] },
                    { name: "Eastern Highlands Districts", topo: "PNG_adm2.topo.json", extent: eh },
                    { name: "Solomons Province", topo: "si.topo.json", extent: [], featureset: "province" },
                    { name: "Solomons Wards", topo: "si.topo.json", extent: [], featureset: "ward" }  ,
                    { name: "Solomons Constituencies", topo: "si.topo.json", extent: [], featureset: "constituency" },
                    { name: "Solomons Province Untransformed", topo: "si.province.original.topo.json", extent: [] }
                ];
// Various properties to support the world map choropleth
                var africa = [
                    { a2: "DZ", name: "Algeria", n3: 12 },
                    { a2: "AO", name: "Angola", n3: 24 },
                    { a2: "BJ", name: "Benin", n3: 204 },
                    { a2: "BW", name: "Botswana", n3: 72 },
                    { a2: "BF", name: "Burkina Faso", n3: 854 },
                    { a2: "BI", name: "Burundi", n3: 108 },
                    { a2: "CM", name: "Cameroon", n3: 120 },
                    { a2: "CV", name: "Cape Verde", n3: 132 },
                    { a2: "CF", name: "Central African Republic", n3: 140 },
                    { a2: "TD", name: "Chad", n3: 148 },
                    { a2: "KM", name: "Comoros", n3: 174 },
                    { a2: "CG", name: "Congo (Brazzaville)", n3: 178 },
                    { a2: "CD", name: "Congo DRC", n3: 180 },
                    { a2: "CI", name: "Côte d'Ivoire", n3: 384 },
                    { a2: "DJ", name: "Djibouti", n3: 262 },
                    { a2: "EG", name: "Egypt", n3: 818 },
                    { a2: "GQ", name: "Equatorial Guinea", n3: 226 },
                    { a2: "ER", name: "Eritrea", n3: 232 },
                    { a2: "ET", name: "Ethiopia", n3: 231 },
                    { a2: "GA", name: "Gabon", n3: 266 },
                    { a2: "GM", name: "Gambia", n3: 270 },
                    { a2: "GH", name: "Ghana", n3: 288 },
                    { a2: "GN", name: "Guinea", n3: 324 },
                    { a2: "GW", name: "Guinea-Bissau", n3: 624 },
                    { a2: "KE", name: "Kenya", n3: 404 },
                    { a2: "LS", name: "Lesotho", n3: 426 },
                    { a2: "LR", name: "Liberia", n3: 430 },
                    { a2: "LY", name: "Libya", n3: 434 },
                    { a2: "MG", name: "Madagascar", n3: 450 },
                    { a2: "MW", name: "Malawi", n3: 454 },
                    { a2: "ML", name: "Mali", n3: 466 },
                    { a2: "MR", name: "Mauritania", n3: 478 },
                    { a2: "MU", name: "Mauritius", n3: 480 },
                    { a2: "MA", name: "Morocco", n3: 504 },
                    { a2: "MZ", name: "Mozambique", n3: 508 },
                    { a2: "NA", name: "Namibia", n3: 516 },
                    { a2: "NE", name: "Niger", n3: 562 },
                    { a2: "NG", name: "Nigeria", n3: 566 },
                    { a2: "RW", name: "Rwanda", n3: 646 },
                    { a2: "ST", name: "Sao Tome and Principe", n3: 678 },
                    { a2: "SN", name: "Senegal", n3: 686 },
                    { a2: "SC", name: "Seychelles", n3: 690 },
                    { a2: "SL", name: "Sierra Leone", n3: 694 },
                    { a2: "SO", name: "Somalia", n3: 706 },
                    { a2: "ZA", name: "South Africa", n3: 710 },
                    { a2: "SS", name: "South Sudan", n3: 728 },
                    { a2: "SD", name: "Sudan", n3: 729 },
                    { a2: "SZ", name: "Swaziland", n3: 748 },
                    { a2: "TZ", name: "Tanzania", n3: 834 },
                    { a2: "TG", name: "Togo", n3: 768 },
                    { a2: "TN", name: "Tunisia", n3: 788 },
                    { a2: "UG", name: "Uganda", n3: 800 },
                    { a2: "EH", name: "Western Sahara", n3: 732 },
                    { a2: "ZM", name: "Zambia", n3: 894 },
                    { a2: "ZW", name: "Zimbabwe", n3: 716 },
                    { a2: "SL", name: "Somaliland", n3: -99 }
                ];

                var africaN = [
                    { a2: "NA", name: "Namibia", n3: 516 },
                    { a2: "NE", name: "Niger", n3: 562 },
                    { a2: "NG", name: "Nigeria", n3: 566 }
                ];
                var australasia = [
                    { a2: "AU", name: "Australia", n3: 36 },
                    { a2: "NZ", name: "New Zealand", n3: 554 }
                ];

                this.changeWorld = function(world) {
                    d3.json("/assets/maps/" + world.topo, function(error, topo) {
                        self.topodata = topo;
                        self.extent = world.extent;
                        self.featureset = world.featureset;
                        // just get a copy of this for testing
                        var currentset = self.featureset || Object.keys(topo.objects)[0];
                        self.featurekeys =
                        (topojson.feature(topo, topo.objects[currentset])).features.map(function(f) {
                            return f.id;
                        });
                        self.props =
                        (topojson.feature(topo, topo.objects[currentset])).features.map(function(f) {
                            return f.properties;
                        });
                        self.genValues();
                        // becuase this has been processed by d3 - it is not in the Angular digest cycle
                        $scope.$apply();
                    });
                };
                this.currentWorld = this.worlds[0];

                this.idAccessor = function(d, i) {
                    if (d.id) {
                        return d.id;
                    }
                    return d.properties.PID;
                };
            };
            angular
                .module("pineapples")
                .controller("ctrlr", ['$scope', '$compile', '$rootScope', ctrlr]);
        })();

    </script>
    <script src="../pineapples.js"></script>




</body>
</html>
