﻿@* Is this being still used or is the PagedListParamsComponent now used? *@
<!-- expects controllerAs: vm -->
<div id="datadiv" style="margin:2px">
    <form class="form-inline" style="padding-top: 4px">
        <div class="form-group">
            <div>
                <label class="form-label" for="viewMode" >Show columns:  </label>

                <select id="viewMode" class="form-control iput-sm" ng-model="vm.viewMode">
                    <option ng-repeat="key in vm.supportedViewModes()" value="{{key}}">{{key}}</option>
                </select>
            </div>
        </div>

    </form>

</div>