﻿@{
    Layout = null;
}

<div class="ui-grid-disable-selection" title="{{vm.stateMessage()}}">
  <div class="ui-grid-cell-contents" ng-click="vm.clickHandler();">
    <span ng-switch on="vm.state">
      <span ng-switch-when="error"><ng-md-icon icon="error" /></span>
      <span ng-switch-when="conflict"><ng-md-icon icon="compare_arrows" /></span>
      <span ng-switch-when="invalid"><ng-md-icon icon="info_outline" /></span>
      <span ng-switch-when="notfound"><i class="fa fa-question-circle"></i></span>
      <span ng-switch-when="saving"><i class="fa fa-spinner spinning"></i></span>
      <span ng-switch-when="dirty"><ng-md-icon icon="create" /></span>
      <span ng-switch-when="saved"><ng-md-icon icon="done" /></span>

      <span ng-switch-default></span>
      </span>

  </div>
</div>

