﻿@section icon {
  fa fa-book
}

@section title {
  {{vm.isNew?'New Book': 'Book No ' + vm.model.bkCode + ': ' + vm.model.bkTitle }}
}

<div class="appform">

  <md-tabs md-selected="vm.activeTab" md-dynamic-height md-border-bottom>

    <md-tab label="Book Info">

      <form novalidate class="form-custom-validation form-horizontal" name="vm.modelForm" ng-submit="vm.save()" role="form">

        <div class="row">
          <div class="col-md-12">
            <h3>General Information</h3>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="inputschNo" class="col-sm-4 control-label">{{"Book Code" | vocab }}</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="inputschNo"
                       ng-model="vm.model.bkCode" ng-disabled="!(vm.isNew && vm.isEditing)" required />
              </div>
            </div>

            <div class="form-group">
              <label for="inputschName" class="col-sm-4 control-label">Title</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="inputschName"
                       ng-model="vm.model.bkTitle" ng-disabled="!vm.isEditing" required />
              </div>
            </div>
            <div class="form-group">
              <label for="inputschRegStatus" class="col-sm-4 control-label">Subject</label>
              <div class="col-sm-8">
                <lookup-selector lkp="subjects" ng-model="vm.model.bkSubject" ng-disabled="!vm.isEditing" />
              </div>
            </div>
            <div class="form-group">
              <label for="inputschType" class="col-sm-4 control-label">Book Type</label>
              <div class="col-sm-8">
                <lookup-selector name="bkTG" lkp="bookTG" ng-model="vm.model.bkTG" ng-disabled="!vm.isEditing" ng-required="true" />
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label for="inputschAuth" class="col-sm-4 control-label">Publisher</label>
              <div class="col-sm-8">
                <lookup-selector lkp="publishers" ng-model="vm.model.bkPublisher" ng-disabled="!vm.isEditing" ng-required="true" />
              </div>
            </div>

            <div class="form-group">
              <label for="inputschReg" class="col-sm-4 control-label">Edition</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="inputbkEdition"
                       ng-model="vm.model.bkEdition" ng-disabled="!vm.isEditing" />
              </div>
            </div>

            <div class="form-group">
              <label for="inputschReg" class="col-sm-4 control-label">Year Published</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="inputbkYear"
                       ng-model="vm.model.bkYear" ng-disabled="!vm.isEditing" />
              </div>
            </div>

            <div class="form-group">
              <label for="inputschName" class="col-sm-4 control-label">ISBN</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="inputschName"
                       ng-model="vm.model.bkISBN" ng-disabled="!vm.isEditing" />
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="alert alert-info alert-smaller" role="alert" typeof="info"><strong>Last Saved:</strong> {{vm.model.pEditUser}} {{vm.model.pEditDateTime | date:"dd MMM yyyy h:mm a"}}</div>
          </div>
        </div>

      </form>
    </md-tab>

    <md-tab label="Curriculum" ng-disable="!vm.model.Curriculum.length">
      <table class="books table table-condensed table-striped table-hover">
        <thead>
          <tr>
            <th class="colhdr gray-left-border">Year</th>
            <th class="colhdr gray-left-border">Class Level</th>
          </tr>
        </thead>
        <tbody>
          <tr data-ng-repeat="c in vm.model.Curriculum | orderBy: cuYear : true">
            <td>{{c.cuYear}}</td>
            <td>{{c.cuLevel}}</td>
          </tr>
        </tbody>
      </table>
    </md-tab>

    <md-tab label="Holdings" ng-disable="!vm.model.Holdings.length">
      <table class="books table table-condensed table-striped table-hover">
        <thead>
          <tr>
            <th class="colhdr">Location Type</th>
            <th class="colhdr gray-left-border">Location</th>
            <th class="colhdr gray-left-border">Name</th>
            <th class="colhdr gray-left-border">As At</th>
            <th class="colhdr gray-left-border text-right">Quantity on Hand</th>
            <th class="colhdr gray-left-border text-right">Replacement</th>
          </tr>
        </thead>
        <tbody>
          <tr data-ng-repeat="h in vm.model.Holdings | orderBy: 'schNo' : true">
            <td>{{h.locType}}</td>
            <td>{{h.location}}</td>
            <td>{{h.locationName}}</td>
            <td>{{h.asatDate | date : 'd-MMM-yyyy'}}</td>
            <td class="text-right">{{h.qty}}</td>
            <td class="text-right">{{h.qtyToReplace}}</td>
          </tr>
        </tbody>
      </table>
    </md-tab>

  </md-tabs>

  <img src="assets/img/wait.gif" style="position:absolute; top:50%;left:50%; margin-right:-50%; transform:translate(-50%,-50%)" ng-show="vm.isWaiting" />
</div>