﻿<h4>Filter Dataset <i class="fa fa-question-circle" uib-tooltip="Only display data of interest" tooltip-placement="top"></i></h4>
<div class="well w100">

  @{
      Layout = null;
  }

  <form class="form">

    <div class="form-group">
      <label for="srchNo">Code</label>
      <input class="form-control" id="srchNo" ng-model="vm.params.BookCode" type="text" />
    </div>

    <div class="form-group">
      <label for="srchNo">Title</label>
      <input class="form-control" id="srchNo" ng-model="vm.params.Title" type="text" />
    </div>

    <div class="form-group">
      <label for="srchName">Subject</label>
      <lookup-selector id="subject"
                       lkp="subjects"
                       ng-model="vm.params.Subject">
      </lookup-selector>
    </div>

    <div class="form-group">
      <label for="srchlistNames">Book Type</label>
      <lookup-selector id="srchbookTG"
                       lkp="bookTG"
                       ng-model="vm.params.TG">
      </lookup-selector>
    </div>

    <div class="form-group">
      <label for="schType">School Type</label>
      <lookup-selector id="schType"
                       lkp="schoolTypes"
                       ng-model="vm.params.SchoolType"
                       ng-disabled="vm.findConfig.isLocked('SchoolType')">
      </lookup-selector>
    </div>

    <div class="form-group">
      <label for="srchAuthorities">Publisher</label>
      <lookup-selector id="srchPublisher"
                       lkp="publishers"
                       ng-model="vm.params.PublisherCode">
      </lookup-selector>
    </div>

    <div class="text-right">
      <button class="btn btn-inverse" id="Reset" ng-click="vm.Reset()">
        <i class="fa fa-close"></i> Clear
      </button>
      <button class="btn btn-primary" id="findNow" ng-click="vm.FindNow()">
        <i class="fa fa-filter"></i> Filter
      </button>
    </div>

  </form>

</div>
