﻿<!-- expects controller as: vm -->
<h4>Manipulate Display <i class="fa fa-question-circle" uib-tooltip="Manipulate how the chart is display (e.g. what data on the rows/columns, the alignment of bars)" tooltip-placement="top"></i></h4>
<div class="well w100">

  <div class="form">

    <div class="form-group">
      <label class="form-label" for="rowSelector">Row:</label>
      <select class="form-control input-sm" id="rowSelector"
              ng-options="r.C as r.C for r in vm.tableOptions"
              ng-model="vm.row"></select>
    </div>

    <div class="form-group" ng-show="vm.showColumnOption()">
      <label class="form-label" for="colSelector">Column:</label>
      <select class="form-control input-sm" id="colSelector"
              ng-options="r.C as r.C for r in vm.tableOptions"
              ng-model="vm.col"></select>
    </div>

    <div class="form-group" ng-show="vm.showColumnOption()">
      <button class="btn btn-primary col-md-12" ng-click="vm.swap()">
        <i class="fa fa-exchange"></i> Swap Row/Column Data
      </button>
    </div>

    <div class="form-group" ng-show="vm.showDataOption()">
      <label class="form-label" for="colSelector">Data:</label>
      <select class="form-control input-sm" id="dataSelector"
              ng-options="r.C as r.N for r in vm.dataOptions"
              ng-model="vm.dataItem"></select>
    </div>

    <div class="chartcontrols" ng-show="vm.showChartOptions()">
      <div class="btn-group btn-chartcontrols">

        <label class="btn btn-primary btn-xs" ng-model="vm.chartType" uib-btn-radio="'v'">
          <svg height="16" width="16">
            <g transform="scale(.8, .8)">
              <rect fill="white" stroke-width="0" x="0" width="8" y="12" height="8"></rect>
              <rect fill="#202020" stroke-width="0" x="0" width="8" y="8" height="4"></rect>
              <rect fill="white" stroke-width="0" x="12" width="8" y="8" height="12"></rect>
              <rect fill="#202020" stroke-width="0" x="12" width="8" y="2" height="6"></rect>
            </g>
          </svg>
        </label>

        <label class="btn btn-primary btn-xs" ng-model="vm.chartType" uib-btn-radio="'vp'">
          <svg height="16" width="16">
            <g transform="scale(.8, .8)">
              <rect fill="white" stroke-width="0" x="0" width="8" y="5" height="15"></rect>
              <rect fill="#202020" stroke-width="0" x="0" width="8" y="0" height="5"></rect>
              <rect fill="white" stroke-width="0" x="12" width="8" y="8" height="12"></rect>
              <rect fill="#202020" stroke-width="0" x="12" width="8" y="0" height="8"></rect>
            </g>
          </svg>
        </label>

        <label class="btn btn-primary btn-xs" ng-model="vm.chartType" uib-btn-radio="'vc'">
          <svg height="16" width="16">
            <g transform="scale(.8, .8)">
              <rect fill="white" stroke-width="0" x="0" width="4" y="12" height="8"></rect>
              <rect fill="#202020" stroke-width="0" x="5" width="4" y="16" height="4"></rect>
              <rect fill="white" stroke-width="0" x="11" width="4" y="8" height="12"></rect>
              <rect fill="#202020" stroke-width="0" x="16" width="4" y="14" height="6"></rect>
            </g>
          </svg>
        </label>

        <label class="btn btn-primary btn-xs" ng-model="vm.chartType" uib-btn-radio="'h'">
          <svg height="16" width="16">
            <g transform="rotate(90, 0, 0) translate(0,-20) scale(.8, .8)">
              <rect fill="white" stroke-width="0" x="0" width="8" y="12" height="8"></rect>
              <rect fill="#202020" stroke-width="0" x="0" width="8" y="8" height="4"></rect>
              <rect fill="white" stroke-width="0" x="12" width="8" y="8" height="12"></rect>
              <rect fill="#202020" stroke-width="0" x="12" width="8" y="2" height="6"></rect>
            </g>
          </svg>
        </label>

        <label class="btn btn-primary btn-xs" ng-class="{selected: vm.chartType === 'hp' }" ng-model="vm.chartType" uib-btn-radio="'hp'">
          <svg height="16" width="16">
            <g transform="scale(.8, .8) rotate(90, 0, 0) translate(0,-20) ">
              <rect fill="white" stroke-width="0" x="0" width="8" y="5" height="15"></rect>
              <rect fill="#202020" stroke-width="0" x="0" width="8" y="0" height="5"></rect>
              <rect fill="white" stroke-width="0" x="12" width="8" y="8" height="12"></rect>
              <rect fill="#202020" stroke-width="0" x="12" width="8" y="0" height="8"></rect>
            </g>
          </svg>
        </label>

        <label class="btn btn-primary btn-xs" ng-model="vm.chartType" uib-btn-radio="'hc'">
          <svg height="16" width="16">
            <g transform="scale(.8, .8) rotate(90, 0, 0) translate(0,-20) ">
              <rect fill="white" stroke-width="0" x="0" width="4" y="12" height="8"></rect>
              <rect fill="#202020" stroke-width="0" x="5" width="4" y="16" height="4"></rect>
              <rect fill="white" stroke-width="0" x="11" width="4" y="8" height="12"></rect>
              <rect fill="#202020" stroke-width="0" x="16" width="4" y="14" height="6"></rect>
            </g>
          </svg>
        </label>
      </div>

      <label class="btn btn-primary btn-xs btn-chartcontrols-map" ng-model="vm.chartType" uib-btn-radio="'map'" ng-disabled="(vm.rowData.g === null)">
        map
      </label>

      @*
        <label type="button" class="btn btn-primary" ng-click="vm.theFilter.tableparams.flip()">
          flip
        </label>
      *@
      <color-brewer-picker palette="vm.palette" ng-show="vm.chartType === 'map'"></color-brewer-picker>
    </div>

    @*<a  tooltip-placement="right" tooltip="show chart" ng-click="chtc.theFilter.FlashFind()" class="nav navbar-nav pull-right toolbar dropdown"  style="padding-top:4px; height:32px;width: 40px">

          <i class="fa fa-search"></i></a>

      <div class="form-group pull-right">

          <input type="text" class="form-control input-sm" runat="server" id="Text1" ng-model="chtc.theFilter.FlashString" ng-enter="chtc.theFilter.FlashFind()">

      </div>*@

  </div>

</div>