﻿<!-- expects controller as mappc-->
<h4>Manipulate Map <i class="fa fa-question-circle" uib-tooltip="Manipulate how the map is display (e.g. zoom to a specific region, cluster data)" tooltip-placement="top"></i></h4>
<div class="well w100">

  <form class="form">

    <div class="form-group">
      <label for="zoomer">Zoom to:</label>
      <select class="form-control" id="zoomer"
              ng-model="mappc.selectedBox"
              ng-options="boxOption.name for boxOption in mappc.boxOptions"></select>
    </div>

    <div class="checkbox">
      <label for="chkcluster">
        <input ng-model="mappc.cluster" type="checkbox" />Cluster
      </label>
    </div>

  </form>

</div>