﻿<h4>Change Columns Set <i class="fa fa-question-circle" uib-tooltip="Change which sets of logical groups of columns to display in the grid" tooltip-placement="top"></i></h4>
<form>
  <div class="well w100">
    <select id="viewMode" class="form-control" ng-model="vm.viewMode">
      <option ng-repeat="key in vm.supportedViewModes()" value="{{key}}">{{key}}</option>
    </select>
  </div>
</form>