﻿@*http://www.iconarchive.com/show/filetype-icons-by-graphicloads.html*@
@if (ViewBag.layout == "icon")
{
    <div ng-click="vm.run()">
      <img src="assets/img/file-pdf-icon-24.png" ng-click="vm.report.format === 'PDF';vm.run()" ng-show="vm.report.format ==='PDF'" />
      <img src="assets/img/file-word-icon-24.png" ng-click="vm.report.format === 'DOCX';vm.run()" ng-show="vm.report.format ==='WORD'" />
      <img src="assets/img/file-excel-icon-24.png" ng-click="vm.report.format === 'XLSX';vm.run()" ng-show="vm.report.format ==='EXCEL'" />   
      <span ng-show="vm.job && vm.job.status === 'downloading'"><i class="fa fa-cog spinning" /></span>
      <span ng-show="vm.job && vm.job.status === 'complete'"><i class="fa fa-check" /></span>
      <span ng-show="vm.job && vm.job.status === 'error'" ng-click="vm.showError($event)"><i class="fa fa-exclamation" /></span>
      <md-tooltip md-autohide>{{vm.tooltip}}</md-tooltip>
    </div>
}

@if (ViewBag.layout == "button")
{
    <button class="btn" ng-click="vm.run()">
      <span>
        <img ng-show="vm.report.format ==='EXCEL'"
             ng-click="vm.report.format='EXCEL'; vm.run();"
             src="assets/img/excel-xls-icon24.png" />
      </span>
      <span>
        <img ng-show="vm.report.format ==='PDF'"
             ng-click="vm.report.format='PDF'; vm.run();"
             src="assets/img/pdf-icon24.png" />
      </span>
      {{vm.report.name}}
      <div style="min-width:10px; display:inline" ng-click="vm.showError($event)">
        <span ng-show="vm.job && vm.job.status === 'downloading'"><i class="fa fa-spinner spinning" /></span>
        <span ng-show="vm.job && vm.job.status === 'complete'"><i class="fa fa-check" /></span>
        <span ng-show="vm.job && vm.job.status === 'error'" style="text-align:center"><i class="fa fa-exclamation" /></span>
      </div>
      <md-tooltip md-autohide>Click to download</md-tooltip>
    </button>
}

@if (ViewBag.layout == "card")
{
    <div class="panel">
      <div class="panel-heading">

        <h4 style="vertical-align:top;padding-top:1px"
            uib-popover="{{vm.report.description}}"
            popover-append-to-body="true"
            popover-trigger="mouseenter"
            popover-placement="bottom">
          <i class="fa fa-download"></i>
          {{vm.report.name}}
        </h4>
        <panel-controls>
          <img style="padding:2px"
               ng-show="vm.report.canRenderExcel"
               src="assets/img/excel-xls-icon24.png"
               ng-click="vm.report.format='EXCEL';"
               uib-popover="Select download format: Excel workbook"
               popover-append-to-body="true"
               popover-trigger="mouseenter"
               popover-placement="bottom" />
          <img style="padding:2px"
               ng-show="vm.report.canRenderPdf"
               src="assets/img/pdf-icon24.png"
               ng-click="vm.report.format='PDF'; "
               uib-popover="Select download format: Pdf document"
               popover-append-to-body="true"
               popover-trigger="mouseenter"
               popover-placement="bottom" />
        </panel-controls>
      </div>
      <div class="panel-body">
        <img ng-show="vm.report.format ==='EXCEL'"
             ng-click="vm.report.format='EXCEL'; vm.run();"
             src="assets/img/excel-xls-icon72.png"
             uib-popover="Click to download (Excel)"
             popover-append-to-body="true"
             popover-trigger="mouseenter"
             popover-placement="bottom" />
        <img ng-show="vm.report.format ==='PDF'"
             ng-click="vm.report.format='PDF'; vm.run();"
             src="assets/img/pdf-icon72.png"
             uib-popover="Click to download (PDF)"
             popover-append-to-body="true"
             popover-trigger="mouseenter"
             popover-placement="bottom" />
        <span ng-show="vm.job && vm.job.status === 'downloading'"><i class="fa fa-spinner spinning" /></span>
        <span ng-show="vm.job && vm.job.status === 'complete'"><i class="fa fa-check" /></span>
        <span ng-show="vm.job && vm.job.status === 'error'" ng-click="vm.showError($event)"><i class="fa fa-exclamation" /></span>
      </div>
    </div>
}

@if (ViewBag.layout == "row")
{
    <div class="rTableCell rTableCellData rTableCellTitle">
      {{vm.report.name}}
    </div>
    <div class="rTableCell rTableCellData rTableCellDescription">
      {{ vm.report.description}}
    </div>
    <div class="rTableCell rTableCellData rTableCellReports">      
      <img src="assets/img/file-pdf-icon-24.png" ng-click="vm.report.format = 'PDF';vm.run()" />
      <img src="assets/img/file-word-icon-24.png" ng-click="vm.report.format = 'DOCX';vm.run()" />
      <img src="assets/img/file-excel-icon-24.png" ng-click="vm.report.format = 'XLSX';vm.run()" />      
      <span ng-show="vm.job && vm.job.status === 'downloading'"><i class="fa fa-cog spinning" /></span>
      <span ng-show="vm.job && vm.job.status === 'complete'"><i class="fa fa-check" /></span>
      <span ng-show="vm.job && vm.job.status === 'error'" ng-click="vm.showError($event)"><i class="fa fa-exclamation" /></span>
    </div>

}
