﻿/* Custom styling and overrides of original forza theme */

.fa.spinning {
  animation: spin 1s infinite linear;
  -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }

  to {
    transform: scale(1) rotate(360deg);
  }
}

@-webkit-keyframes spin2 {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

.wrap-spacing {
  padding: 10px 10px 10px 10px;
}

#mainview {
  padding: 8px 8px 8px 8px;
}

.breadcrumb {
  padding: 7px 5px;
  background-color: #f5f5f5;
  margin-top: -5px;
}

a.username .fa-user {
  font-size: 16px !important;
}

.toolbar.navbar-nav {
  padding: 0px 10px 0px 0px;
}

[class*="panel-"].panel .panel-body {
  padding: 10px;
}

[class*="panel-"].panel.map .panel-body {
  padding: 0px;
}

.query-data-side-panel .label {
  margin-bottom: 0px;
}

.query-data-side-panel .form-group {
  margin-bottom: 5px;
}

.btn-xs, .btn-group-xs, .btn-chartcontrols > .btn {
  padding: 6px 5px 1px 5px;
}

.btn-xs, .btn-group-xs, .btn-chartcontrols-map > .btn {
  padding: 5px 5px 5px 5px;
}

.btn-operations {
  padding: 0px 3px 0px 3px; /* f0934e, ffdcb2 */
}

.chartcontrols {
  margin-top: 44px;
}

/* Start style from SchoolItem.cshtml */
.appform .q {
  background-color: aliceblue;
  margin-top: 15px;
}

.appform .txta {
  min-height: 40px;
  white-space: pre-wrap;
}

.appform .multichoice {
  margin: 5px;
}

  .appform .multichoice .btn {
    width: 100px;
  }

.appform .y {
  opacity: 1;
}

.appform .n {
  opacity: .3;
}
/* End style from SchoolItem.cshtml */

/* Start Forms validation styling */
.form-custom-validation input.ng-invalid.ng-touched, .form-custom-validation select.ng-invalid.ng-touched {
  background-color: #FFD4D6;
  border-color: #ff0000;
}

.form-custom-validation input.ng-valid.ng-touched, .form-custom-validation select.ng-valid.ng-touched {
  background-color: #E1FFE5;
  border-color: #40A35C;
}

.invalid {
  color: #ffa4a4 !important;
}

.valid {
  color: #94ffb2 !important;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: lightsteelblue !important;
  border-color: lightsteelblue !important;
  opacity: 1;
}

/* End Forms validation styling */

/* FedEMIS specific school accreditation backgrounds to make the component 
  more familiar to the FedEMIS local team
*/
.leadership {
  background: #da9694 !important;
}

.teacher-performance {
  background: #c4d79b !important;
}

.data-management {
  background: #b1a0c7 !important;
}

.ncsb {
  background: #92cddc !important;
}

.facility {
  background: #fabf8f !important;
}

.sip {
  background: #95b3d7 !important;
}

.co {
  background: #c4bd97 !important;
}

.level-tally {
  background: #ddd9c4 !important;
}

.co-height {
  min-height: 49px;
}

/* 
  Below here are CSS flugly hacks to attempt to make things 
  a little prettier without wasting too much time since it is understood there
  will be a migration to materialise the whole application and the CSS/Less code
  has gotten a bit messy.
*/

.alert-smaller {
  padding: 8px !important;
}

.alert > ul {
  list-style-type: none;
  margin-left: -40px;
}

.material-icons {
  font-size: 100%;
  color: #ffffff;
}

.panel-spacing {
  padding: 10px 10px 10px 10px;
}

a.btn-panel {
  margin-top: 8px !important;
  padding: 5px 10px 5px 10px;
}

.tab-content > .tab-pane {
  margin-top: 10px;
}

.nav-tabs > li > a:hover {
  border: 1px solid #dddddd !important;
}

/* 
  this CSS hack is the fastest way to get the padding between flex child of a row layout 
  and still keep a consistent padding for everything inside md-content
*/

.layout-margin, .layout-margin-gt-sm, .layout-margin-md, .layout-margin > *, .layout-margin-gt-sm > *, .layout-margin-md > *, .layout-margin > .flex, .layout-margin > .flex-gt-sm, .layout-margin > .flex-md {
  margin: 4px;
}

.layout-margin-hack {
  margin-left: -4px;
  margin-right: -4px;
}

/* Improve consistent styling in tables and data grids */

table.indicators .na {
  background-color: #D0D0D0 !important;
}

/* PlottableJS chart styling */

.plottable-colors-0 {
  background-color: #0964a5;
}

.plottable-colors-1 {
  background-color: #00b161;
}

.plottable-colors-2 {
  background-color: #ff4500;
}

.plottable-colors-3 {
  background-color: #ffbe00;
}

.plottable-colors-4 {
  background-color: #ff9000;
}

.plottable-colors-5 {
  background-color: #171bb3;
}

.plottable-colors-6 {
  background-color: #8b002c;
}

.plottable-colors-7 {
  background-color: #9c5800;
}

.plottable-colors-8 {
  background-color: #810081;
}

/*.plottable-colors-9 {
  background-color: #0964a5;
}

.plottable-colors-10 {
  background-color: #0964a5;
}

.plottable-colors-11 {
  background-color: #0964a5;
}

.plottable-colors-12 {
  background-color: #0964a5;
}*/

/* Custom btn colors for download icons */
.btn-pdf {
  color: #ffffff;
  background-color: #d30300;
}

.btn-pdf:hover, .btn-pdf:focus, .btn-pdf:active, .btn-pdf.active, .open > .dropdown-toggle.btn-pdf {
  color: #ffffff;
  background-color: #d30300;
}

.btn-word {
  color: #ffffff;
  background-color: #2b579a;
}

.btn-word:hover, .btn-word:focus, .btn-word:active, .btn-word.active, .open > .dropdown-toggle.btn-word {
  color: #ffffff;
  background-color: #2b579a;
}

.btn-excel {
  color: #ffffff;
  background-color: #217346;
}

.btn-excel:hover, .btn-excel:focus, .btn-excel:active, .btn-excel.active, .open > .dropdown-toggle.btn-excel {
  color: #ffffff;
  background-color: #217346;
}

/* Angular material quick and dirty customizations */
md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
  background-color: #348bc6;
}
.material-icons {
  font-size: 100%;
  color: white;
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }