﻿md-menu-content {
  left: auto;
  right: 0;
  margin-top: 2px;
  border: none;
  -webkit-box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.98);
}

md-toolbar md-menu .menu-trigger {
 
 border: none;
 padding: 10px;
 margin: -1px;
}
/* over or select the user menu */
md-toolbar md-menu .menu-trigger:hover,
md-toolbar md-menu .menu-trigger:focus {
  text-decoration: none;
  color: white;
  font-weight: 600;
}
.dropdown-menu.pull-left {
  left: 0;
  right: auto;
}

md-menu-item a {
  color: #656b79;
  padding: 5px 15px;
}
.dropdown-menu.arrow:before {
  position: absolute;
  top: -8px;
  right: 11px;
  display: inline-block;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
  border-left: 10px solid transparent;
  content: '';
}