﻿/* More specific table styling */

table.gendergrid {
  table-layout: fixed;
}

  table.gendergrid td {
    border: 1px solid #D0D0D0;
  }

    table.gendergrid td.current {
      background: #63b7e6;
    }

  table.gendergrid th {
    text-align: center;
    padding: 2px 2px 2px 2px;
  }

  /*table.gendergrid .colhdr {
  background-color: #348bc6;
  background-image: -webkit-linear-gradient(top, #296f9f, #348bc6);
  background-image: -moz-linear-gradient(top, #296f9f, #348bc6);
  background-image: -o-linear-gradient(top, #296f9f, #348bc6);
  background-image: -ms-linear-gradient(top, #296f9f, #348bc6);
  background-image: linear-gradient(top, #296f9f, #348bc6);
  color: white;
  text-align: center;
}

table.gendergrid th.colhdr {
  border-left: solid 1px #d4d4d4;
  border-bottom: solid 1px #d4d4d4;
}

table.gendergrid th.colhdr.no-left-border {
  border-left: none;
}

table.gendergrid th.colhdr.gray-right-border {
  border-right: solid 1px #d0d0d0;
}

table.gendergrid th.colghdr.gray-right-border {
  border-right: solid 1px #d0d0d0;
}

table.gendergrid th.colghdr.gray-left-border {
  border-left: solid 1px #d4d4d4;
}

table.gendergrid .colhdr.current, table.gendergrid .colghdr.current {
  background-color: #63b7e6;
  color: white;
}

table.gendergrid input.current {
  background-color: #c2d9ef;
}

table.gendergrid th.colghdr {
  background-color: #348bc6;
  background-image: none;
}

table.gendergrid .rowhdr {
  background-color: #348bc6;
  font-size: 15px;
  font-weight: bold;
  color: white;
  border: 0px solid #D0D0D0;
  padding-left: 7px;
}

table.gendergrid .rowhdr.current {
  background-color: #63b7e6;
  color: white;
}

table.gendergrid .td.current {
  background-color: #63b7e6;
}*/

  table.gendergrid .colm {
    border-left: solid 2px #B3D7EB;
  }

  table.gendergrid input {
    width: 20px;
    border: none;
    padding-right: 2px;
    margin: 2px;
    background-color: white;
    text-align: right;
  }

    table.gendergrid input.hover {
      width: 40px;
      border: none;
      padding: 3px;
      background-color: lightyellow;
      text-align: right;
    }

  table.gendergrid .totg {
    text-align: right;
    font-weight: bold;
    background-color: #b3d7eb;
    padding-right: 3px;
    padding-left: 3px;
  }

  table.gendergrid .tot {
    text-align: right;
    font-weight: bold;
    background-color: none;
    padding-right: 3px;
    padding-left: 3px;
  }

  table.gendergrid input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

button.btnClassSave {
  background-color: #3FB429;
  padding: 6px;
  font-weight: normal;
  font-size: 14px;
  color: white;
}

button.btnClassGet {
  background-color: #0E5570;
  padding: 6px;
  font-weight: normal;
  font-size: 14px;
  color: white;
}

.gendergrid-label {
  font-size: 16px;
  font-weight: bold;
}

.gendergrid-button {
  text-align: right;
  margin-top: 10px;
}

.gendergrid input:disabled, .gendergrid select:disabled, .gendergrid input[type=checkbox]:disabled {
  background-color: lightsteelblue !important;
}

table.resources input {
  width: 100px;
}

table.resources select {
  margin: 4px;
  width: 90px;
}

/* Generic tables styling to maintain consistent UI styling */

table th {
  background-color: #348bc6;
  background-image: -webkit-linear-gradient(top, #296f9f, #348bc6);
  background-image: -moz-linear-gradient(top, #296f9f, #348bc6);
  background-image: -o-linear-gradient(top, #296f9f, #348bc6);
  background-image: -ms-linear-gradient(top, #296f9f, #348bc6);
  background-image: linear-gradient(top, #296f9f, #348bc6);
  color: #efefef;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th,
.table-striped > div:nth-child(odd) > div {
  background-color: #fbfbfb;
}

.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(even) > th,
.table-striped > div:nth-child(odd) > div {
  background-color: #ededed;
}

table .colhdr, div .colhdr {
  background-color: #348bc6;
  background-image: -webkit-linear-gradient(top, #296f9f, #348bc6);
  background-image: -moz-linear-gradient(top, #296f9f, #348bc6);
  background-image: -o-linear-gradient(top, #296f9f, #348bc6);
  background-image: -ms-linear-gradient(top, #296f9f, #348bc6);
  background-image: linear-gradient(top, #296f9f, #348bc6);
  color: white;
}

table th.colhdr, div .colhdr {
  border-left: solid 1px #d4d4d4;
  border-bottom: solid 1px #d4d4d4;
}

  table th.colhdr.no-left-border, div div.colhdr.no-left-border {
    border-left: none;
  }

  table th.colhdr.gray-right-border, div div.colhdr.gray-right-border {
    border-right: solid 1px #d0d0d0;
  }

table th.colghdr.gray-right-border, div div.colghdr.gray-right-border {
  border-right: solid 1px #d0d0d0;
}

table th.colghdr.gray-left-border, div div.colghdr.gray-left-border {
  border-left: solid 1px #d4d4d4;
}

table .colhdr.current, table .colghdr.current,
div .colhdr.current, div .colghdr.current {
  background-color: #63b7e6;
  color: white;
}

table input.current {
  background-color: #c2d9ef;
}

table th.colghdr, div div.colghdr {
  background-color: #348bc6;
  background-image: none;
}

table .rowhdr, div .rowhdr {
  background-color: #348bc6;
  font-weight: bold;
  color: white;
  border-bottom: none !important;
  padding-left: 3px;
  padding-right: 3px;
}

  table .rowhdr.current, div .rowhdr.current {
    background-color: #63b7e6;
    color: white;
  }

table .td.current {
  background-color: #63b7e6;
}

th.colhdr.white-bg, div.colhdr.white-bg {
  background-color: white;
  background-image: none;
}

th.colhdr.gray-bg, div.colhdr.gray-bg {
  background-color: #f3f4f6;
  background-image: none;
}

th.colhdr.white-left-border, div.colhdr.white-left-border {
  border-left-color: white !important;
}

th.colhdr.white-right-border, div.colhdr.white-right-border {
  border-right-color: white !important;
}

th.colhdr.no-bg, div.colhdr.no-bg {
  background-color: none;
}

th.colhdr.no-left-border, div.colhdr.no-left-border {
  border-left: none;
}

th.colhdr.no-right-border, div.colhdr.no-right-border {
  border-right: none;
}

.table-cell-smashed {
  padding: 0px !important;
}

td.no-top-border, th.no-top-border {
  border-top: none !important;
}

td.no-bottom-border, th.no-bottom-border {
  border-top: none !important;
}

td.gray-bottom-border, th.gray-bottom-border {
  border-bottom: solid 1px #d0d0d0 !important;
}

tr.editing > td {
  background-color: #ffdcb2 !important;
}

/* Div-based tables */
.rTable {
  display: block;
  width: 100%;
}

.rTableHeading, .rTableBody, .rTableFoot, .rTableRow {
  clear: both;
}

.rTableHead, .rTableFoot {
  font-weight: bold;
}

.rTableCell, .rTableHead {
  padding: 5px;
  float: left;
  overflow: hidden;
}

.rTableCell {
  min-height: 37px;
}

  .rTableCell.rTableCellTitle, .rTableHead.rTableHeadTitle {
    width: 30%;
  }

  .rTableCell.rTableCellDescription, .rTableHead.rTableHeadDescription {
    width: 50%;
  }

  .rTableCell.rTableCellReports, .rTableHead.rTableHeadReports {
    width: 20%;
  }

.rTable:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.rTableRowData:nth-child(odd) .rTableCellData {
  background-color: #fbfbfb;
}

.rTableRowData:nth-child(even) .rTableCellData {
  background-color: #ededed;
}

.rTableRowData:last-child .rTableCellData {
  border-bottom-color: #d4d4d4;
  border-bottom-style: solid;
}

div.ui-grid-cell input.grid-input {
  background-color: rgba(255,220,220,.5);
  height: 30px;
  padding: 5px;
}

div.ui-grid-cell select.grid-input {
  background-color: rgba(255,220,220,.5);
  height: 30px;
  padding: 5px;
}