﻿@*
  Page Edit Layout for single page edit of an entity
*@
<div>
  <panel panel-class="panel-primary"
         heading="@RenderSection("title", false)"
         panel-icon="@RenderSection("icon", false)"
         panel-close="true">
    <panel-controls>
      @if (ViewBag.EditPermission != null)
      {
          <span permission permission-only="'@ViewBag.EditPermission'">

            <edit-ui-buttons edit-action="vm.setEditing(true)"
                             save-action="vm.save()"
                             undo-action="vm.undo()"
                             form="vm.modelForm"
                             is-waiting="vm.isWaiting"
                             is-editing="vm.isEditing"
                             show-labels="false"></edit-ui-buttons>

@*            <edit-button ng-show="!vm.isEditing" show-label="false" action=></edit-button>
  <save-button is-waiting="vm.IsWaiting" form="vm.modelForm" ng-show="vm.isEditing" action="vm.save()"></save-button>
  <undo-button is-waiting="vm.IsWaiting" form="vm.modelForm" ng-show="vm.isEditing" action="vm.undo()"></undo-button>
*@  
          </span>

      }
    </panel-controls>
    @RenderBody()
  </panel>
</div>
