﻿<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
  <meta charset="utf-8">
  <title>@(ViewBag.Title.Length > 0 ? ViewBag.Title : "Pacific EMIS")</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="An education management information system for small Pacific countries">
  <meta name="author" content="Soft Words Pty Ltd">

  <link rel="shortcut icon" href="favicon.ico?v=3">



  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  @RenderSection("styles")

  @Styles.Render("~/_styles/vendor")
  @Styles.Render("~/_styles/app")

  @RenderSection("fonts")



  <style type="text/css">
        [ng-cloak] {
          display: none;
        }
  </style>

</head>

<body class=""
      ng-app="pineapples"
      ng-controller="AppController as vm"
        ng-class="{
              'fullscreen': vm.style_fullscreen,
              'collapse-navbar': vm.style_navbarCollapsed && !vm.style_navbarShown,
              'show-navbar': vm.global
            }"
      ng-cloak
      ng-strict-di layout="column"
      style="padding: 0px; height: 100%; overflow:hidden">
  <md-toolbar role="banner">
    <div class="md-toolbar-tools">
      <a id="leftmenu-trigger" tooltip-placement="right" tooltip="Toggle Sidebar" ng-click="vm.toggleNavBar()"></a>
      <span flex></span>
     @* <ul class="nav navbar-nav pull-right toolbar">
    <!-- removed log in - > if not logged in, state =>signin anyway -->
    <li class="dropdown" ng-show="vm.isLoggedIn()">
      <a class="dropdown-toggle username" aria-expanded="true" aria-haspopup="true" data-toggle="dropdown" href="">
        <span>{{vm.userName()}}</span>
        <img src="assets/img/user-icon.png" alt="User Icon" />
      </a>
      <ul class="dropdown-menu userinfo arrow">
        <li class="userlinks">
          <ul class="dropdown-menu">
            <li><a href="#/profile">Profile <i class="pull-right fa fa-fw fa-pencil"></i></a></li>
            <li class="disabled"><a href="#">Settings <i class="pull-right fa fa-fw fa-cog"></i></a></li>
            <li class="divider"></li>
            <li><a href="" ng-click="vm.logOut()">Sign Out <i class="pull-right fa fa-fw fa-sign-out"></i></a></li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>*@
      <md-menu>
        <span class="menu-trigger" ng-click="$mdMenu.open($event)"  ng-show="vm.isLoggedIn()">
          <span style="font-size:12px;padding: 5px">{{vm.userName()}}</span>
          <img src="assets/img/user-icon.png" alt="User Icon" style="height:24px; width:24px"/>
        </span>
        <md-menu-content >
          <md-menu-item>
            <md-button><a ui-sref="site.profile"><i class="pull-left fa fa-fw fa-pencil"></i>Profile</a></md-button>
          </md-menu-item>
          <md-divider></md-divider>
          <md-menu-item>
            <md-button><a href="" ng-click="vm.logOut()"><i class="pull-left fa fa-fw fa-sign-out"></i>Sign Out</a></md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </div>

  </md-toolbar>

  <div flex layout="row" style="background-color: #f3f4f6">

    <md-sidenav id="sidenav" md-component-id="navBar" md-is-open="vm.sidenavOpen" md-is-locked-open="$mdMedia('gt-sm')" layout="column" >
      <nav>
        <navigator is-authenticated="vm.identity.isAuthenticated"></navigator>
      </nav>
    </md-sidenav>

    <md-content layout="column" flex >
      <div id="mainview" ui-view="" class="mainview-animation"  style="overflow:auto" layout="column"></div>
    </md-content>
  </div>

  <footer role="contentinfo">
    <div class="clearfix">
      <ul class="list-unstyled list-inline pull-left">
        <li>Pineapples</li>
      </ul>
      <button class="pull-right btn btn-default btn-xs hidden-print" data-back-to-top style="padding: 1px 10px;"><i class="fa fa-angle-up"></i></button>
    </div>
  </footer>

  @* render the remotable bundle - either from the local server or via cdn *@
  <!-- remotables -->
  @RenderSection("scripts")

  <!-- vendor -->
  @Scripts.Render("~/_scripts/vendor")

  <!-- app -->
  @Scripts.Render("~/_scripts/app")

  <script>
    (function () {
      var orig = angular.module;
      angular.modules = [];
      angular.module = function () {
        var args = Array.prototype.slice.call(arguments);
        if (arguments.length > 1) {
          angular.modules.push(arguments[0]);
        }
        return orig.apply(null, args);
      }
    })();
  </script>

</body>

</html>
