﻿<h4>Filter Dataset <i class="fa fa-question-circle" uib-tooltip="Only display data of interest" tooltip-placement="top"></i></h4>
<div class="well w100">

  @{
      Layout = null;
  }

  <form class="form">

    <div class="form-group">
      <label for="srchNo">School No</label>
      <input class="form-control" id="srchNo" ng-model="vm.params.SchoolNo" type="text" />
    </div>

    <div class="form-group">
      <label for="srchDistrict">{{ "District" | vocab}}</label>
      <lookup-selector id="srchDistrict"
                       lkp="districts"
                       ng-model="vm.params.District"
                       ng-disabled="vm.findConfig.isLocked('District')">
      </lookup-selector>
    </div>

    <div class="form-group">
      <label for="srchIsland">Island</label>
      <lookup-selector id="srchIsland"
                       lkp="islands"
                       ng-model="vm.params.Island"
                       ng-disabled="vm.findConfig.isLocked('Island')">
      </lookup-selector>
    </div>

    <div class="form-group">
      <label for="srchIsland">Framework</label>
      <lookup-selector id="srchFrameworks"
                       lkp="paFrameworks"
                       ng-model="vm.params.SubScoreCode"
                       ng-disabled="vm.findConfig.isLocked('SubScoreCode')">
    </div>

    <div class="form-group">
      <label for="srchStartDate">After</label>
      <input class="form-control" id="srchStartDate" uib-datepicker-popup
             ng-model="vm.params.StartDate" type="date" />
    </div>

    <div class="form-group">
      <label for="srchEndDate">Up to</label>
      <input class="form-control" id="srchEndtDate" uib-datepicker-popup
             ng-model="vm.params.EndDate" type="date" />
    </div>

    <div class="text-right">
      <button class="btn btn-inverse" id="Reset" ng-click="vm.Reset()">
        <i class="fa fa-close"></i> Clear
      </button>
      <button class="btn btn-primary" id="findNow" ng-click="vm.FindNow()">
        <i class="fa fa-filter"></i> Filter
      </button>
    </div>

  </form>

</div>