﻿@* miemis context-specific extra tabs *@

<md-tab label="Quarterly Reports" ng-disable="!vm.model.QuarterlyReports.length">
  <school-quarterly-reports quarterlyreports="vm.model.QuarterlyReports"></school-quarterly-reports>
</md-tab>
