﻿@*TODO - Get the entity dynamically*@
@*@section breadcrumbs {
    <ol class="breadcrumb">
      <li><i class="fa fa-location-arrow"></i></li>
      <li>Schools</li>
      <li>List</li>
      <li>{{vm.model.schNo}}</li>
    </ol>
  }*@

@section icon {
  fa fa-institution
}

@section title {
  {{vm.isNew?'New School': 'School ' + vm.model.schNo + ': ' + vm.model.schName }}
}

<div class="appform" ng-init="vm.editTab = 1;">

  <md-tabs md-selected="vm.activeTab" md-dynamic-height md-border-bottom>

    <md-tab label="Dashboard" ng-disable="vm.isNew">
      <div class="row">

        <div class="col-md-6 col-lg-4">
          <div class="info-tiles tiles-success" type="success" heading="Revenue">
            <div class="tiles-heading ng-binding">
              Latest Survey Available
            </div>
            <div class="tiles-body">
              <div class="text-center">
                <div class="info-text">{{vm.model.LatestSurvey.svyYear}}</div>
                @*TODO - Dynamically generate message based on submission status*@
                <div class="info-text-bottom">Survey submission up-to-date</div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4">
          <div class="info-tiles tiles-midnightblue" type="midnightblue" heading="Latest Survey Enrolment">
            <div class="tiles-heading ng-binding">
              Latest Survey Enrolment
            </div>
            <div class="tiles-body">
              <div class="text-center">
                <div class="info-text">
                  <span class="superscript">Male</span><span>{{vm.model.LatestSurvey.ssEnrolM}}</span>
                  <span class="pieC" sparklines="{type: 'pie', offset: -90, sliceColors: ['rgba(220,140,237,.5)','rgba(14,138,196,.5)'] , composite: false}" data-data="[vm.model.LatestSurvey.ssEnrolF, vm.model.LatestSurvey.ssEnrolM]" />
                  <span>{{vm.model.LatestSurvey.ssEnrolF}}</span><span class="superscript">Female</span>
                </div>
                <div class="info-text-bottom">Total enrolment of {{vm.model.LatestSurvey.ssEnrol}}</div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-12 col-lg-4">
          <div class="info-tiles" heading="Enrolment History">
            <div class="tiles-heading ng-binding">
              Enrolment History
            </div>
            <div class="tiles-body">
              <enrol-level-chart school="vm.model"></enrol-level-chart>
            </div>
          </div>
        </div>
      </div>
    </md-tab>

    <md-tab label="School Info">

      <form novalidate class="form-custom-validation form-horizontal" name="vm.modelForm" ng-submit="vm.save()" role="form">

        <div class="row">
          <div class="col-md-12">
            <h3>General Information</h3>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="inputschNo" class="col-sm-4 control-label">{{"School No" | vocab }}</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="inputschNo"
                       ng-model="vm.model.schNo" ng-disabled="!(vm.isNew && vm.isEditing)" required />
              </div>
            </div>

            <div class="form-group">
              <label for="inputschName" class="col-sm-4 control-label">School Name</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="inputschName"
                       ng-model="vm.model.schName" ng-disabled="!vm.isEditing" required />
              </div>
            </div>

            <div class="form-group">
              <label for="inputschType" class="col-sm-4 control-label">School Type</label>
              <div class="col-sm-8">
                <lookup-selector name="schType" lkp="schoolTypes" ng-model="vm.model.schType" ng-disabled="!vm.isEditing" ng-required="true" />
              </div>
            </div>

            <div class="form-group">
              <label for="inputschAuth" class="col-sm-4 control-label">Authority</label>
              <div class="col-sm-8">
                <lookup-selector lkp="authorities" ng-model="vm.model.schAuth" ng-disabled="!vm.isEditing" ng-required="true" />
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-offset-3 col-sm-12">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" ng-disabled="!vm.isEditing" /> Dormant
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="inputschReg" class="col-sm-4 control-label">Registration No</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="inputschReg"
                       ng-model="vm.model.schReg" ng-disabled="!vm.isEditing" />
              </div>
            </div>

            <div class="form-group">
              <label for="inputschRegStatus" class="col-sm-4 control-label">Registration Status</label>
              <div class="col-sm-8">
                <lookup-selector lkp="schoolRegistration" ng-model="vm.model.schRegStatus" ng-disabled="!vm.isEditing" />
              </div>
            </div>

            <div class="form-group">
              <label for="inputschRegStatusDate" class="col-sm-4 control-label">Status Date</label>
              <div class="col-sm-8">
                <sw-date-input id="inputschRegStatusDate"
                               ng-model="vm.model.schRegStatusDate" ng-disabled="!vm.isEditing" />
              </div>
            </div>

            <div class="form-group">
              <label for="inputschEst" class="col-sm-4 control-label">Year Established</label>
              <div class="col-sm-8">
                <input type="number" min="0" max="2035" step="1" class="form-control" id="inputschEst"
                       ng-model="vm.model.schEst" ng-disabled="!vm.isEditing" />
              </div>
            </div>

            <div class="form-group">
              <label for="inputschClosed" class="col-sm-4 control-label">Year Closed</label>
              <div class="col-sm-8">
                <input type="number" min="0" max="2035" step="1" class="form-control" id="inputschClosed"
                       ng-model="vm.model.schClosed" ng-disabled="!vm.isEditing" />
              </div>
            </div>

            <div class="form-group">
              <label for="inputschCloseReason" class="col-sm-4 control-label">Reason Closed</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="inputschCloseReason"
                       ng-model="vm.model.schCloseReason" ng-disabled="!vm.isEditing" />
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <h3>Address</h3>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="inputschAddr1" class="col-sm-4 control-label">Line 1</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="inputschAddr1"
                       ng-model="vm.model.schAddr1" ng-disabled="!vm.isEditing" />
              </div>
            </div>

            <div class="form-group">
              <label for="inputschAddr2" class="col-sm-4 control-label">Line 2</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="inputschAddr2"
                       ng-model="vm.model.schAddr2" ng-disabled="!vm.isEditing" />
              </div>
            </div>

            <div class="form-group">
              <label for="inputschAddr3" class="col-sm-4 control-label">Line 3</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="inputschAddr3"
                       ng-model="vm.model.schAddr3" ng-disabled="!vm.isEditing" />
              </div>
            </div>

            <div class="form-group">
              <label for="inputschAddr4" class="col-sm-4 control-label">Line 4</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="inputschAddr4"
                       ng-model="vm.model.schAddr4" ng-disabled="!vm.isEditing" />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="inputschVillage" class="col-sm-4 control-label">Village</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="inputschVillage"
                       ng-model="vm.model.schVillage" ng-disabled="!vm.isEditing" />
              </div>
            </div>

            <div class="form-group">
              <label for="inputiCode" class="col-sm-4 control-label">{{"Island" | vocab}}</label>
              <div class="col-sm-8">
                <lookup-selector lkp="islands" ng-model="vm.model.iCode" ng-disabled="!vm.isEditing" ng-required="true" />
              </div>
            </div>

            <div class="form-group">
              <label for="inputcboIsland" class="col-sm-4 control-label">{{"District" | vocab }}</label>
              <div class="col-sm-8">
                {{vm.model.iCode | lookup:"islands":"D" | lookup:"districts"}}
                @*<input type="text" class="form-control" id="inputcboIsland"
                ng-model="vm.model.iCode | lookup:'islands':'D' | lookup:'districts' " readonly>*@
              </div>
            </div>

            <div class="form-group">
              <label for="inputschElecN" class="col-sm-4 control-label">{{"ElectorateN" | vocab}}</label>
              <div class="col-sm-8">
                <lookup-selector lkp="electoraten" ng-model="vm.model.schElectN" ng-disabled="!vm.isEditing" />
              </div>
            </div>

            <div class="form-group">
              <label for="inputschElecL" class="col-sm-4 control-label">{{"ElectorateL" | vocab}}</label>
              <div class="col-sm-8">
                <lookup-selector lkp="electoratel" ng-model="vm.model.schElectL" ng-disabled="!vm.isEditing" />
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <p class="text-center">TODO Replace following fields with with Google Map Widget</p>

            <div class="form-group">
              <label for="inputschLat" class="col-md-2 control-label">Latitude</label>
              <div class="col-md-2">
                <input type="text" class="form-control" id="inputschLat"
                       ng-model="vm.model.schLat" ng-disabled="!vm.isEditing" />
              </div>
              <label for="inputschLong" class="col-md-2 control-label">Longitude</label>
              <div class="col-md-2">
                <input type="text" class="form-control" id="inputschLong"
                       ng-model="vm.model.schLong" ng-disabled="!vm.isEditing" />
              </div>
              <label for="inputschElev" class="col-md-2 control-label">Elevation</label>
              <div class="col-md-2">
                <input type="text" class="form-control" id="inputschElev"
                       ng-model="vm.model.schElev" ng-disabled="!vm.isEditing" />
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <h3>Contact</h3>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="inputschPh1" class="col-sm-4 control-label">Phone 1</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="inputschPh1"
                       ng-model="vm.model.schPh1" ng-disabled="!vm.isEditing" />
              </div>
            </div>

            <div class="form-group">
              <label for="inputschPh2" class="col-sm-4 control-label">Phone 2</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="inputschPh2"
                       ng-model="vm.model.schPh2" ng-disabled="!vm.isEditing" />
              </div>
            </div>

            <div class="form-group">
              <label for="inputschFax" class="col-sm-4 control-label">Fax</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="inputschFax"
                       ng-model="vm.model.schFax" ng-disabled="!vm.isEditing" />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="inputschEmail" class="col-sm-4 control-label">Email</label>
              <div class="col-sm-8">
                <input type="email" class="form-control" id="inputschEmail"
                       ng-model="vm.model.schEmail" ng-disabled="!vm.isEditing" />
              </div>
            </div>

            <div class="form-group">
              <label for="inputschLang" class="col-sm-4 control-label">Language</label>
              <div class="col-sm-8">
                <lookup-selector lkp="languages" ng-model="vm.model.schLang" ng-disabled="!vm.isEditing" />
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <h3>Miscellaneous</h3>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="inputschClass" class="col-sm-4 control-label">{{"School Class" | vocab}}</label>
              <div class="col-sm-8">
                <lookup-selector lkp="schoolClasses" ng-model="vm.model.schClass" ng-disabled="!vm.isEditing" />
              </div>
            </div>

            <div class="form-group">
              <label for="inputschpayptCode" class="col-sm-4 control-label">Pay Point</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="inputschpayptCode"
                       ng-model="vm.model.schpayptCode" ng-disabled="!vm.isEditing" />
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="alert alert-info alert-smaller" role="alert" typeof="info"><strong>Last Saved:</strong> {{vm.model.pEditUser}} {{vm.model.pEditDateTime | date:"dd MMM yyyy h:mm a"}}</div>
          </div>
        </div>

      </form>
    </md-tab>

    <md-tab label="Surveys" ng-disable="!vm.model.Surveys.length">
      <component-school-survey-list surveys="vm.model.Surveys"></component-school-survey-list>
    </md-tab>

    <md-tab label="Exams" ng-disable="!vm.model.Exams.length">
      <table class="schoolexams table table-condensed table-striped table-hover">

        <thead>
          <tr>
            <th class="colhdr white-bg no-left-border" colspan="2"></th>
            <th class="text-center colhdr gray-left-border" colspan="3">Candidates</th>
            <th class="text-center colhdr gray-left-border" colspan="3">Average Score</th>
          </tr>
          <tr>
            <th class="colghdr">Exam Year</th>
            <th class="colghdr gray-left-border">Exam Code</th>
            <th class="colghdr gray-left-border text-right" style="width:45px;">Total</th>
            <th class="colghdr text-right" style="width:45px;">M</th>
            <th class="colghdr text-right" style="width:45px;">F</th>
            <th class="colghdr gray-left-border text-right" style="width:45px;">All</th>
            <th class="colghdr text-right" style="width:45px;">M</th>
            <th class="colghdr text-right" style="width:45px;">F</th>
          </tr>
        </thead>

        <tbody>
          <tr data-ng-repeat="exam in vm.model.Exams | orderBy: 'ExamYear' : true">
            <td>{{exam.ExamYear}}</td>
            <td>{{exam.ExamCode}}</td>
            <td class="text-right">{{exam.Candidates}}</td>
            <td class="text-right">{{exam.CandidatesM}}</td>
            <td class="text-right">{{exam.CandidatesF}}</td>
            <td class="text-right">{{exam.AvgScore}}</td>
            <td class="text-right">{{exam.AvgScoreM}}</td>
            <td class="text-right">{{exam.AvgScoreF}}</td>
          </tr>
        </tbody>

      </table>
    </md-tab>

    <md-tab label="Inspectorate Data" ng-disable="!vm.model.Inspections.length">
      <table class="inspectoratedata table table-condensed table-striped table-hover">

        <thead>
          <tr>
            <th class="colhdr">Inspection Program</th>
            <th class="colhdr gray-left-border">Start Date</th>
            <th class="colhdr gray-left-border">End Date</th>
            <th class="colhdr gray-left-border">Note</th>
            <th class="colhdr gray-left-border">Inspected By</th>
            <th class="colhdr gray-left-border">Inspection Type Code</th>
            <th class="colhdr gray-left-border">Inspection Type</th>
          </tr>
        </thead>

        <tbody>
          <tr data-ng-repeat="inspection in vm.model.Inspections | orderBy: 'StartDate' : true">
            <td>{{inspection.InspProgram}}</td>
            <td>{{inspection.StartDate}}</td>
            <td>{{inspection.EndDate}}</td>
            <td>{{inspection.Note}}</td>
            <td>{{inspection.InspectedBy}}</td>
            <td>{{inspection.InspTypeCode}}</td>
            <td>{{inspection.InspType}}</td>
          </tr>
        </tbody>

      </table>
    </md-tab>

    <md-tab label="Principal's Comments" ng-disable="!vm.model.Surveys.length">
      <table class="principalscomments table table-condensed table-striped table-hover">

        <thead>
          <tr>
            <th class="colhdr">Year</th>
            <th class="colhdr gray-left-border">Comment</th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="survey in vm.model.Surveys | orderBy: svyYear : true">
            <td>{{survey.svyYear}}</td>
            <td>{{survey.ssNote}}</td>
          </tr>
        </tbody>

      </table>
    </md-tab>

    <md-tab label="Documents">
      <component-school-links links="vm.model.Documents" school="vm.model"></component-school-links>
    </md-tab>

    @*list of reports served from Jasper report server*@
    <md-tab label="Reports">
      <report-list folder="Schools/School" context="{SchoolNo: vm.model.schNo}" set-params="vm.setReportParams(report, context,instanceInfo)"></report-list>
    </md-tab>

    @*Some time tabs are context specific (e.g. specific to Marshall Islands only).
    In those cases the tabs are shown here if they are found in their country specific Views
    location (e.g. Pineapples/Views/miemis/School/ContextTabs.cshtml)*@

    @{
    Html.RenderAction("ContextTabs");
    }

  </md-tabs>
  <img src="assets/img/wait.gif" style="position:absolute; top:50%;left:50%; margin-right:-50%; transform:translate(-50%,-50%)" ng-show="vm.isWaiting" />
</div>