﻿<h4>Filter Dataset <i class="fa fa-question-circle" uib-tooltip="Only display data of interest" tooltip-placement="top"></i></h4>
<div class="well w100">

  @{
      Layout = null;
  }

  <form class="form">

    <div class="form-group">
      <label for="srchNo">{{"School No" | vocab }}</label>
      <input id="srchNo" type="text" class="form-control" ng-model="vm.params.SchoolNo" />
    </div>

    <div class="form-group">
      <label for="srchName">Name</label>
      <input id="srchName" type="text" class="form-control" ng-model="vm.params.SchoolName" />
    </div>

    <div class="form-group">
      <label for="srchlistNames">Custom Lists</label>
      <lookup-selector id="srchlistNames"
                       lkp="listNames"
                       ng-model="vm.params.ListName">
      </lookup-selector>
    </div>

    <div class="form-group">
      <label for="schType">School Type</label>
      <lookup-selector id="schType"
                       lkp="schoolTypes"
                       ng-model="vm.params.SchoolType"
                       ng-disabled="vm.findConfig.isLocked('SchoolType')">
      </lookup-selector>
    </div>

    <div class="form-group">
      <label for="srchAuthorities">EA</label>
      <lookup-selector id="srchAuthorities"
                       lkp="authorities"
                       ng-model="vm.params.Authority"
                       ng-disabled="vm.findConfig.isLocked('Authority')">
      </lookup-selector>
    </div>

    <div class="form-group">
      <label for="srchDistrict">{{ "District" | vocab}}</label>
      <lookup-selector id="srchDistrict"
                       lkp="districts"
                       ng-model="vm.params.District"
                       ng-disabled="vm.findConfig.isLocked('District')">
      </lookup-selector>
    </div>

    <div class="form-group">
      <label for="srchElectN">{{ "ElectorateN" | vocab}}</label>
      <lookup-selector id="srchElectN"
                       lkp="electoraten"
                       ng-model="vm.params.ElectorateN"
                       ng-disabled="vm.findConfig.isLocked('ElectorateN')">
      </lookup-selector>
    </div>

    <div class="form-group">
      <label for="srchWards">{{ "ElectorateL" | vocab}}</label>
      <lookup-selector id="srchWards"
                       lkp="electoratel"
                       ng-model="vm.params.ElectorateL"
                       ng-disabled="vm.findConfig.isLocked('ElectorateL')">
      </lookup-selector>
    </div>

    <div class="text-right">
      <button class="btn btn-inverse" id="Reset" ng-click="vm.Reset()">
        <i class="fa fa-close"></i> Clear
      </button>
      <button class="btn btn-primary" id="findNow" ng-click="vm.FindNow()">
        <i class="fa fa-filter"></i> Filter
      </button>
    </div>

  </form>

</div>