﻿@* fedemis context-specific extra tabs *@

<md-tab label="School Accreditations" ng-disable="!vm.model.SchoolAccreditations.length">
  <school-accreditations schoolaccreditations="vm.model.SchoolAccreditations"></school-accreditations>
</md-tab>
