﻿<div class="row">
  <div class="col-md-12 table-responsive">
    <table class="schoolsurveys table table-condensed table-striped table-hover">
      <thead>
        <tr>
          <th class="colhdr white-bg no-left-border"></th>
          <th class="colhdr white-bg no-left-border"></th>
          <th class="colhdr gray-left-border" colspan="4" style="text-align:center">Leadership</th>
          <th class="colhdr gray-left-border" colspan="4" style="text-align:center">Teacher Performance</th>
          <th class="colhdr gray-left-border" colspan="4" style="text-align:center">Data Management</th>
          <th class="colhdr gray-left-border" colspan="4" style="text-align:center">NCSB</th>
          <th class="colhdr gray-left-border" colspan="4" style="text-align:center">Facility</th>
          <th class="colhdr gray-left-border" colspan="4" style="text-align:center">SIP</th>
          <th class="colhdr gray-left-border" colspan="2" style="text-align:center">CO</th>
          <th class="colhdr gray-left-border" colspan="5" style="text-align:center">Level Tally</th>
          <th class="colhdr white-bg no-left-border"></th>
        </tr>
        <tr>
          <th class="colghdr">Period</th>
          <th class="colghdr gray-left-border">Submitted By</th>
          <th class="colghdr gray-left-border text-right">L1</th>
          <th class="colghdr text-right">L2</th>
          <th class="colghdr text-right">L3</th>
          <th class="colghdr text-right">L4</th>
          <th class="colghdr gray-left-border text-right">T1</th>
          <th class="colghdr text-right">T2</th>
          <th class="colghdr text-right">T3</th>
          <th class="colghdr text-right">T4</th>
          <th class="colghdr gray-left-border text-right">D1</th>
          <th class="colghdr text-right">D2</th>
          <th class="colghdr text-right">D3</th>
          <th class="colghdr text-right">D4</th>
          <th class="colghdr gray-left-border text-right">N1</th>
          <th class="colghdr text-right">N2</th>
          <th class="colghdr text-right">N3</th>
          <th class="colghdr text-right">N4</th>
          <th class="colghdr gray-left-border text-right">F1</th>
          <th class="colghdr text-right">F2</th>
          <th class="colghdr text-right">F3</th>
          <th class="colghdr text-right">F4</th>
          <th class="colghdr gray-left-border text-right">S1</th>
          <th class="colghdr text-right">S2</th>
          <th class="colghdr text-right">S3</th>
          <th class="colghdr text-right">S4</th>
          <th class="colghdr gray-left-border text-right">CO1</th>
          <th class="colghdr text-right">CO2</th>
          <th class="colghdr gray-left-border text-right">LT1</th>
          <th class="colghdr text-right">LT2</th>
          <th class="colghdr text-right">LT3</th>
          <th class="colghdr text-right">LT4</th>
          <th class="colghdr gray-left-border text-right">Total</th>
          <th class="colghdr gray-left-border text-right">School Level</th>
        </tr>
      </thead>
      <tbody>
        <tr data-ng-repeat="sa in vm.schoolaccreditations | orderBy: 'InspYear' : true">
          <td>{{sa.InspYear}}</td>
          <td>{{sa.InspectedBy}}</td>
          <td class="text-right leadership">{{sa.L1 | number}}</td>
          <td class="text-right leadership">{{sa.L2 | number}}</td>
          <td class="text-right leadership">{{sa.L3 | number}}</td>
          <td class="text-right leadership">{{sa.L4 | number}}</td>
          <td class="text-right teacher-performance">{{sa.T1 | number}}</td>
          <td class="text-right teacher-performance">{{sa.T2 | number}}</td>
          <td class="text-right teacher-performance">{{sa.T3 | number}}</td>
          <td class="text-right teacher-performance">{{sa.T4 | number}}</td>
          <td class="text-right data-management">{{sa.D1 | number}}</td>
          <td class="text-right data-management">{{sa.D2 | number}}</td>
          <td class="text-right data-management">{{sa.D3 | number}}</td>
          <td class="text-right data-management">{{sa.D4 | number}}</td>
          <td class="text-right ncsb">{{sa.N1 | number}}</td>
          <td class="text-right ncsb">{{sa.N2 | number}}</td>
          <td class="text-right ncsb">{{sa.N3 | number}}</td>
          <td class="text-right ncsb">{{sa.N4 | number}}</td>
          <td class="text-right facility">{{sa.F1 | number}}</td>
          <td class="text-right facility">{{sa.F2 | number}}</td>
          <td class="text-right facility">{{sa.F3 | number}}</td>
          <td class="text-right facility">{{sa.F4 | number}}</td>
          <td class="text-right sip">{{sa.S1 | number}}</td>
          <td class="text-right sip">{{sa.S2 | number}}</td>
          <td class="text-right sip">{{sa.S3 | number}}</td>
          <td class="text-right sip">{{sa.S4 | number}}</td>
          <td class="text-right co">{{sa.CO1 | number}}</td>
          <td class="text-right co">{{sa.CO2 | number}}</td>
          <td class="text-right level-tally readonly">{{sa.LT1 | number}}</td>
          <td class="text-right level-tally readonly">{{sa.LT2 | number}}</td>
          <td class="text-right level-tally readonly">{{sa.LT3 | number}}</td>
          <td class="text-right level-tally readonly">{{sa.LT4 | number}}</td>
          <td class="text-right level-tally readonly">{{sa.T | number}}</td>
          <td class="text-right level-tally readonly">{{sa.SchLevel}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>