﻿<div layout="column">
  <div style="padding: 10px;width: 300px">
    <select ng-model="vm.table" class="form-control">
      <option value=""></option>
      <option ng-repeat="table in vm.tableList">{{table}}</option>
    </select>
  </div>
  <div ui-view="tablegrid" layout-fill></div>
</div>