﻿@section icon {
  fa fa-book
}

@section title {
  {{vm.isNew?'New QuarterlyReport': 'QuarterlyReport ' + vm.model.schNo + '-' + vm.model.InspQuarterlyReport}}
}

<div class="appform">

  <md-tabs md-selected="vm.activeTab" md-dynamic-height md-border-bottom>

    <md-tab label="Quarterly Report (9 Week Report)">

      <form novalidate class="form-custom-validation form-horizontal" name="vm.modelForm" ng-submit="vm.save()" role="form">

        <div class="row">

          <div class="col-md-12">
            <h3>General Information</h3>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="inputschNo" class="col-sm-4 control-label">{{"School No" | vocab }}</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="inputschNo"
                       ng-model="vm.model.schNo" ng-disabled="!(vm.isNew && vm.isEditing)" required />
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="inputschName" class="col-sm-4 control-label">School Name</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="inputschName"
                       ng-model="vm.model.schName" ng-disabled="true" />
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="inputInspQuarterlyReport" class="col-sm-4 control-label">Reporting Period</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="inputInspQuarterlyReport" placeholder="YYYY/Q[1-4]"
                       ng-model="vm.model.InspQuarterlyReport" ng-disabled="!vm.isEditing" required />
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="inputInspectedBy" class="col-sm-4 control-label">Complete By</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="inputInspectedBy"
                       ng-model="vm.model.InspectedBy" ng-disabled="!vm.isEditing" />
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="inputNote" class="col-sm-4 control-label">Note</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="inputNote"
                       ng-model="vm.model.Note" ng-disabled="!vm.isEditing" />
              </div>
            </div>
          </div>

          @* Start date and end date don't make much sense for this type school inspection (quarterly reports) *@
          @*<div class="col-md-4">
              <div class="form-group">
                <label for="inputStartDate" class="col-sm-4 control-label">Start Date</label>
                <div class="col-sm-8">
                  <sw-date-input id="inputStartDate"
                               ng-model="vm.model.StartDate" ng-disabled="!vm.isEditing" />
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="inputEndDate" class="col-sm-4 control-label">End Date</label>
                <div class="col-sm-8">
                  <sw-date-input id="inputEndDate"
                                       ng-model="vm.model.EndDate" ng-disabled="!vm.isEditing" />
                </div>
              </div>
            </div>*@

          <div class="col-md-4">
            <div class="form-group">
              <label for="inputNumDaysOpen" class="col-sm-4 control-label"># of Days Open</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="inputNumDaysOpen"
                       ng-model="vm.model.NumDaysOpen" ng-disabled="!vm.isEditing" required />
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <h3>Attendance Data</h3>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="inputAggDaysAtt" class="col-sm-4 control-label">Agg. Days of Attendance</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="inputAggDaysAtt"
                       ng-model="vm.model.AggDaysAtt" ng-disabled="!vm.isEditing" required />
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="inputAggDaysAttM" class="col-sm-4 control-label">Agg. Days of Attendance (Male)</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="inputAggDaysAttM"
                       ng-model="vm.model.AggDaysAttM" ng-disabled="!vm.isEditing" />
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="inputAggDaysAttF" class="col-sm-4 control-label">Agg. Days of Attendance (Female)</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="inputAggDaysAttF"
                       ng-model="vm.model.AggDaysAttF" ng-disabled="!vm.isEditing" />
              </div>
            </div>
          </div>

          @* Start Auto computed*@
          <div class="col-md-4">
            <div class="form-group">
              <label for="inputAvgDailyAtt" class="col-sm-4 control-label">Avg. Daily Attendance</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="inputAvgDailyAtt"
                       placeholder="{{vm.model.AggDaysAtt / vm.model.NumDaysOpen}}" ng-disabled="true" required />
                @*equals vm.model.AvgDailyAtt*@
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="inputAvgDailyAttM" class="col-sm-4 control-label">Avg. Daily Attendance (Male)</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="inputAvgDailyAttM"
                       placeholder="{{vm.model.AggDaysAttM / vm.model.NumDaysOpen}}" ng-disabled="true" required />
                @*equals vm.model.AvgDailyAttM*@
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="inputAvgDailyAttF" class="col-sm-4 control-label">Avg. Daily Attendance (Female)</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="inputAvgDailyAttF"
                       placeholder="{{vm.model.AggDaysAttF / vm.model.NumDaysOpen}}" ng-disabled="true" required />
                @*equals vm.model.AvgDailyAttF*@
              </div>
            </div>
          </div>
          @* End Auto computed*@

          <div class="col-md-12">
            <h3>Absence Data</h3>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="inputAggDaysAbs" class="col-sm-4 control-label">Agg. Days of Absence</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="inputAggDaysAbs"
                       ng-model="vm.model.AggDaysAbs" ng-disabled="!vm.isEditing" required />
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="inputAggDaysAbsM" class="col-sm-4 control-label">Agg. Days of Absence (Male)</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="inputAggDaysAbsM"
                       ng-model="vm.model.AggDaysAbsM" ng-disabled="!vm.isEditing" />
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="inputAggDaysAbsF" class="col-sm-4 control-label">Agg. Days of Absence (Female)</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="inputAggDaysAbsF"
                       ng-model="vm.model.AggDaysAbsF" ng-disabled="!vm.isEditing" />
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <h3>Membership Data</h3>
          </div>

          @* Start Auto computed*@
          <div class="col-md-4">
            <div class="form-group">
              <label for="inputAggDaysMem" class="col-sm-4 control-label">Agg. Days of Membership</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="inputAggDaysMem"
                       placeholder="{{vm.model.AggDaysAtt + vm.model.AggDaysAbs}}" ng-disabled="true" required />
                @*equals vm.model.AggDaysMem*@
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="inputAggDaysMemM" class="col-sm-4 control-label">Agg. Days of Membership (Male)</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="inputAggDaysMemM"
                       placeholder="{{vm.model.AggDaysAttM + vm.model.AggDaysAbsM}}" ng-disabled="true" required />
                @*equals vm.model.AggDaysMemM*@
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="inputAggDaysMemF" class="col-sm-4 control-label">Agg. Days of Membership (Female)</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="inputAggDaysMemF"
                       placeholder="{{vm.model.AggDaysAttF + vm.model.AggDaysAbsF}}" ng-disabled="true" required />
                @*equals vm.model.AggDaysMemF*@
              </div>
            </div>
          </div>
          @* End Auto computed*@

          <div class="col-md-4">
            <div class="form-group">
              <label for="inputAvgDailyMem" class="col-sm-4 control-label">Avg. Daily Membership</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="inputAvgDailyMem"
                       ng-model="vm.model.AvgDailyMem" ng-disabled="!vm.isEditing" required />
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="inputAvgDailyMemM" class="col-sm-4 control-label">Avg. Daily Membership (Male)</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="inputAvgDailyMemM"
                       ng-model="vm.model.AvgDailyMemM" ng-disabled="!vm.isEditing" />
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="inputAvgDailyMemF" class="col-sm-4 control-label">Avg. Daily Membership (Female)</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="inputAvgDailyMemF"
                       ng-model="vm.model.AvgDailyMemF" ng-disabled="!vm.isEditing" />
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <h3>Dropouts Data</h3>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="inputDropout" class="col-sm-4 control-label">Dropouts</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="inputDropout"
                       ng-model="vm.model.Dropout" ng-disabled="!vm.isEditing" />
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="inputDropoutM" class="col-sm-4 control-label">Dropouts (Male)</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="inputDropoutM"
                       ng-model="vm.model.DropoutM" ng-disabled="!vm.isEditing" />
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="inputDropoutF" class="col-sm-4 control-label">Dropouts (Female)</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="inputDropoutF"
                       ng-model="vm.model.DropoutF" ng-disabled="!vm.isEditing" />
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <h3>Transfers Data</h3>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="inputTrin" class="col-sm-4 control-label">Transfers In</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="inputTrin"
                       ng-model="vm.model.Trin" ng-disabled="!vm.isEditing" />
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="inputTrinM" class="col-sm-4 control-label">Transfers In (Male)</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="inputTrinM"
                       ng-model="vm.model.TrinM" ng-disabled="!vm.isEditing" />
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="inputTrinF" class="col-sm-4 control-label">Transfers In (Female)</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="inputTrinF"
                       ng-model="vm.model.TrinF" ng-disabled="!vm.isEditing" />
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="inputTrout" class="col-sm-4 control-label">Transfers Out</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="inputTrout"
                       ng-model="vm.model.Trout" ng-disabled="!vm.isEditing" />
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="inputTroutM" class="col-sm-4 control-label">Transfers Out (Male)</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="inputTroutM"
                       ng-model="vm.model.TroutM" ng-disabled="!vm.isEditing" />
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="inputTroutF" class="col-sm-4 control-label">Transfers Out (Female)</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="inputTroutF"
                       ng-model="vm.model.TroutF" ng-disabled="!vm.isEditing" />
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <h3>Graduate Data</h3>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="inputGrad8" class="col-sm-4 control-label">Graduate 8</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="inputGrad8"
                       ng-model="vm.model.Grad8" ng-disabled="!vm.isEditing" />
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="inputGrad8M" class="col-sm-4 control-label">Graduate 8 (Male)</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="inputGrad8M"
                       ng-model="vm.model.Grad8M" ng-disabled="!vm.isEditing" />
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="inputGrad8F" class="col-sm-4 control-label">Graduate 8 (Female)</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="inputGrad8F"
                       ng-model="vm.model.Grad8F" ng-disabled="!vm.isEditing" />
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="inputGrad12" class="col-sm-4 control-label">Graduate 12</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="inputGrad12"
                       ng-model="vm.model.Grad12" ng-disabled="!vm.isEditing" />
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="inputGradM" class="col-sm-4 control-label">Graduate 12 (Male)</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="inputGrad12M"
                       ng-model="vm.model.Grad12M" ng-disabled="!vm.isEditing" />
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="inputGrad12F" class="col-sm-4 control-label">Graduate 12 (Female)</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="inputGrad12F"
                       ng-model="vm.model.Grad12F" ng-disabled="!vm.isEditing" />
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <h3>Enrolment Data</h3>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="inputTotEnrolToDate" class="col-sm-4 control-label">Total Enrol to Date</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="inputTotEnrolToDate"
                       ng-model="vm.model.TotEnrolToDate" ng-disabled="!vm.isEditing" required />
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="inputTotEnrolToDateM" class="col-sm-4 control-label">Total Enrol to Date (Male)</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="inputTotEnrolToDateM"
                       ng-model="vm.model.TotEnrolToDateM" ng-disabled="!vm.isEditing" />
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="inputTotEnrolToDateF" class="col-sm-4 control-label">Total Enrol to Date (Female)</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="inputTotEnrolToDateF"
                       ng-model="vm.model.TotEnrolToDateF" ng-disabled="!vm.isEditing" />
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="alert alert-info alert-smaller" role="alert" typeof="info"><strong>Last Saved:</strong> {{vm.model.pEditUser}} {{vm.model.pEditDateTime | date:"dd MMM yyyy h:mm a"}}</div>
          </div>
        </div>

      </form>
    </md-tab>

  </md-tabs>

  <img src="assets/img/wait.gif" style="position:absolute; top:50%;left:50%; margin-right:-50%; transform:translate(-50%,-50%)" ng-show="vm.isWaiting" />
</div>