﻿@* This is an interim hack to expose the "Add" button on entities using hard coded permissions
  TODO - replace this with a more componentized architecture ASAP *@
<!-- expects controllerAs: listvm -->
<div id="actionpane" ui-view="actionpane" />
<div id="datadiv">

  <ol class="breadcrumb">
    <li><i class="fa fa-location-arrow"></i></li>
    <li>{{listvm.theFilter.entity|capitalize:first}}s</li>
    <li>List</li>
  </ol>

  <div layout="row" layout-margin class="layout-margin-hack">

    <div flex="75">
      <panel panel-class="panel-primary list"
             panel-icon="fa fa-list-ul"
             heading="All {{listvm.theFilter.entity}}s Data"
             panel-collapse="true">

        <panel-controls>
          @*Make use of permissions on common templates?! to show/hide the Add button of a particular feature*@
          <span permission permission-only="'SchoolWriteX'">
            <a ui-sref="site.quarterlyreports.list.new" href="" class="btn btn-midnightblue btn-panel">
              <i class="fa fa-plus-circle" /> Add
            </a>
          </span>
        </panel-controls>

        <div style="position:relative">
          <div id="pgGrid" ng-class="[listvm.theFilter.entity, listvm.gridClass]"
               ui-grid="listvm.gridOptions"
               ui-grid-pagination
               ui-grid-pinning
               @*ui-grid-auto-resize*@
               ui-grid-resize-columns
               fit-content>
          </div>
          <img src="assets/img/wait.gif" style="position:absolute; top:50%;left:50%; margin-right:-50%; transform:translate(-50%,-50%)" ng-show="listvm.isWaiting" />
        </div>
      </panel>
    </div>

    <div flex="25">
      <panel panel-class="panel-primary list query-data-side-panel"
             panel-icon="fa fa-filter"
             heading="Query Data"
             panel-collapse="true">

        @*<flash-find-search-component entity="listvm.theFilter"></flash-find-search-component>
          <paged-list-params-component columns="listvm.theFilter"></paged-list-params-component>
          <school-searcher-component searchfields="listvm.theFilter"></school-searcher-component>*@

        @* Deactivate broken flashfindsearch for now (was broken before I moved it here)
          <div id="flashfindsearch" ui-view="flashfindsearch"></div>*@
        <div id="pagedlistparams" ui-view="pagedlistparams"></div>
        <div id="searcher" ui-view="searcher"></div>
      </panel>
    </div>

  </div>

</div>