﻿<h4>Filter Dataset <i class="fa fa-question-circle" uib-tooltip="Only display data of interest" tooltip-placement="top"></i></h4>
<div class="well w100">

  @{
      Layout = null;
  }

  <form class="form">

    <div class="form-group">
      <label for="QRID">Quarterly Report ID</label>
      <input class="form-control" ng-model="vm.params.QRID" type="number" />
    </div>

    <div class="form-group">
      <label for="SchoolNo">{{"School No" | vocab }}</label>
      <input class="form-control" ng-model="vm.params.SchoolNo" type="text" />
    </div>

    <div class="form-group">
      <label for="School">School Name</label>
      <input class="form-control" ng-model="vm.params.School" type="text" />
    </div>

    @*TODO - Move to dynamic lookups of existing quarterly report periods*@
    <div class="form-group">
      <label for="InspQuarterlyReport">Quarter (e.g. 2014/Q4)</label>
      <input class="form-control" ng-model="vm.params.InspQuarterlyReport" type="text" />
    </div>

    <div class="text-right">
      <button class="btn btn-inverse" id="Reset" ng-click="vm.Reset()">
        <i class="fa fa-close"></i> Clear
      </button>
      <button class="btn btn-primary" id="findNow" ng-click="vm.FindNow()">
        <i class="fa fa-filter"></i> Filter
      </button>
    </div>

  </form>

</div>
