﻿@*
  Confirmation to proess upload of Ndoe data
    uses MaterialLayoutDialog
*@

@section icon {
  <i class="fa fa-book"></i>
}

@section title {
  Workbook Uploaded
}

@section tools {
}

@* body *@
<div><div class="xs-col-9">{{"District" | vocab}}:</div><div class="xs-col-3">{{dvm.info.state}}</div></div>
<div><div class="xs-col-9">Year:</div><div class="xs-col-3">{{dvm.info.schoolYear}}</div></div>
<div><div class="xs-col-9">Schools:</div><div class="xs-col-3">{{dvm.info.schools}}</div></div>
<div><div class="xs-col-9">Students:</div><div class="xs-col-3">{{dvm.info.students}}</div></div>
<div><div class="xs-col-9">File ID:</div><div class="xs-col-3">{{dvm.info.id}}</div></div>

<div ng-show="dvm.info.hasValidations">
  Missing or undefined school codes were found in this workbook. Review and correct these problems, then submit the file again.
</div>
@section actions {

  <md-button ng-click="dvm.returnSuccess()" ng-disabled="dvm.info.hasValidations" class="md-primary">
    Process this file
  </md-button>
  <md-button ng-click="dvm.returnFail()" class="md-primary">
    Cancel - discard this data
  </md-button>
}
