﻿@section icon {
  fa fa-book
}

@section title {
  {{vm.isNew?'New SchoolAccreditation': 'SchoolAccreditation ' + vm.model.schNo + '-' + vm.model.InspYear}}
}

<div class="appform">

  <md-tabs md-selected="vm.activeTab" md-dynamic-height md-border-bottom>

    <md-tab label="School Accreditation Inspection">

      <form novalidate class="form-custom-validation form-horizontal" name="vm.modelForm" ng-submit="vm.save()" role="form">

        <div class="row">

          <div class="col-md-12">
            <h3>General Information</h3>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="inputschNo" class="col-sm-4 control-label">{{"School No" | vocab }}</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="inputschNo"
                       ng-model="vm.model.schNo" ng-disabled="!(vm.isNew && vm.isEditing)" required />
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="inputInspYear" class="col-sm-4 control-label">Inspection Year</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="inputInspYear"
                       ng-model="vm.model.InspYear" ng-disabled="!vm.isEditing" required />
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="inputInspectedBy" class="col-sm-4 control-label">Complete By</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="inputInspectedBy"
                       ng-model="vm.model.InspectedBy" ng-disabled="!vm.isEditing" />
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="inputNote" class="col-sm-4 control-label">Note</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="inputNote"
                       ng-model="vm.model.Note" ng-disabled="!vm.isEditing" />
              </div>
            </div>
          </div>

          @*<div class="col-md-4">
              <div class="form-group">
                <label for="inputStartDate" class="col-sm-4 control-label">Start Date</label>
                <div class="col-sm-8">
                  <sw-date-input id="inputStartDate"
                                 ng-model="vm.model.StartDate" ng-disabled="!vm.isEditing" />
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="inputEndDate" class="col-sm-4 control-label">End Date</label>
                <div class="col-sm-8">
                  <sw-date-input id="inputEndDate"
                                 ng-model="vm.model.EndDate" ng-disabled="!vm.isEditing" />
                </div>
              </div>
            </div> *@

          <div class="col-xs-12 leadership">
            <h3>Leadership</h3>
          </div>

          <div class="col-xs-3 leadership">
            <div class="form-group">
              <label for="inputL1" class="col-sm-4 control-label">L1</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="inputL1"
                       ng-model="vm.model.L1" ng-disabled="!vm.isEditing" required />
              </div>
            </div>
          </div>

          <div class="col-xs-3 leadership">
            <div class="form-group">
              <label for="inputL2" class="col-sm-4 control-label">L2</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="inputL2"
                       ng-model="vm.model.L2" ng-disabled="!vm.isEditing" required />
              </div>
            </div>
          </div>

          <div class="col-xs-3 leadership">
            <div class="form-group">
              <label for="inputL3" class="col-sm-4 control-label">L3</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="inputL3"
                       ng-model="vm.model.L3" ng-disabled="!vm.isEditing" required />
              </div>
            </div>
          </div>

          <div class="col-xs-3 leadership">
            <div class="form-group">
              <label for="inputL4" class="col-sm-4 control-label">L4</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="inputL4"
                       ng-model="vm.model.L4" ng-disabled="!vm.isEditing" required />
              </div>
            </div>
          </div>

          <div class="col-xs-12 teacher-performance">
            <h3>Teacher Performance</h3>
          </div>

          <div class="col-xs-3 teacher-performance">
            <div class="form-group">
              <label for="inputT1" class="col-sm-4 control-label">T1</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="inputT1"
                       ng-model="vm.model.T1" ng-disabled="!vm.isEditing" required />
              </div>
            </div>
          </div>

          <div class="col-xs-3 teacher-performance">
            <div class="form-group">
              <label for="inputT2" class="col-sm-4 control-label">T2</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="inputT2"
                       ng-model="vm.model.T2" ng-disabled="!vm.isEditing" required />
              </div>
            </div>
          </div>

          <div class="col-xs-3 teacher-performance">
            <div class="form-group">
              <label for="inputT3" class="col-sm-4 control-label">T3</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="inputT3"
                       ng-model="vm.model.T3" ng-disabled="!vm.isEditing" required />
              </div>
            </div>
          </div>

          <div class="col-xs-3 teacher-performance">
            <div class="form-group">
              <label for="inputT4" class="col-sm-4 control-label">T4</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="inputT4"
                       ng-model="vm.model.T4" ng-disabled="!vm.isEditing" required />
              </div>
            </div>
          </div>

          <div class="col-xs-12 data-management">
            <h3>Data Management</h3>
          </div>

          <div class="col-xs-3 data-management">
            <div class="form-group">
              <label for="inputD1" class="col-sm-4 control-label">D1</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="inputD1"
                       ng-model="vm.model.D1" ng-disabled="!vm.isEditing" required />
              </div>
            </div>
          </div>

          <div class="col-xs-3 data-management">
            <div class="form-group">
              <label for="inputD2" class="col-sm-4 control-label">D2</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="inputD2"
                       ng-model="vm.model.D2" ng-disabled="!vm.isEditing" required />
              </div>
            </div>
          </div>

          <div class="col-xs-3 data-management">
            <div class="form-group">
              <label for="inputD3" class="col-sm-4 control-label">D3</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="inputD3"
                       ng-model="vm.model.D3" ng-disabled="!vm.isEditing" required />
              </div>
            </div>
          </div>

          <div class="col-xs-3 data-management">
            <div class="form-group">
              <label for="inputD4" class="col-sm-4 control-label">D4</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="inputD4"
                       ng-model="vm.model.D4" ng-disabled="!vm.isEditing" required />
              </div>
            </div>
          </div>

          <div class="col-xs-12 ncsb">
            <h3>NCSB</h3>
          </div>

          <div class="col-xs-3 ncsb">
            <div class="form-group">
              <label for="inputN1" class="col-sm-4 control-label">N1</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="inputN1"
                       ng-model="vm.model.N1" ng-disabled="!vm.isEditing" required />
              </div>
            </div>
          </div>

          <div class="col-xs-3 ncsb">
            <div class="form-group">
              <label for="inputN2" class="col-sm-4 control-label">N2</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="inputN2"
                       ng-model="vm.model.N2" ng-disabled="!vm.isEditing" required />
              </div>
            </div>
          </div>

          <div class="col-xs-3 ncsb">
            <div class="form-group">
              <label for="inputN3" class="col-sm-4 control-label">N3</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="inputN3"
                       ng-model="vm.model.N3" ng-disabled="!vm.isEditing" required />
              </div>
            </div>
          </div>

          <div class="col-xs-3 ncsb">
            <div class="form-group">
              <label for="inputN4" class="col-sm-4 control-label">N4</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="inputN4"
                       ng-model="vm.model.N4" ng-disabled="!vm.isEditing" required />
              </div>
            </div>
          </div>

          <div class="col-xs-12 facility">
            <h3>Facility</h3>
          </div>

          <div class="col-xs-3 facility">
            <div class="form-group">
              <label for="inputF1" class="col-sm-4 control-label">F1</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="inputF1"
                       ng-model="vm.model.F1" ng-disabled="!vm.isEditing" required />
              </div>
            </div>
          </div>

          <div class="col-xs-3 facility">
            <div class="form-group">
              <label for="inputF2" class="col-sm-4 control-label">F2</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="inputF2"
                       ng-model="vm.model.F2" ng-disabled="!vm.isEditing" required />
              </div>
            </div>
          </div>

          <div class="col-xs-3 facility">
            <div class="form-group">
              <label for="inputF3" class="col-sm-4 control-label">F3</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="inputF3"
                       ng-model="vm.model.F3" ng-disabled="!vm.isEditing" required />
              </div>
            </div>
          </div>

          <div class="col-xs-3 facility">
            <div class="form-group">
              <label for="inputF4" class="col-sm-4 control-label">F4</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="inputF4"
                       ng-model="vm.model.F4" ng-disabled="!vm.isEditing" required />
              </div>
            </div>
          </div>

          <div class="col-xs-12 sip">
            <h3>SIP</h3>
          </div>

          <div class="col-xs-3 sip">
            <div class="form-group">
              <label for="inputS1" class="col-sm-4 control-label">S1</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="inputS1"
                       ng-model="vm.model.S1" ng-disabled="!vm.isEditing" required />
              </div>
            </div>
          </div>

          <div class="col-xs-3 sip">
            <div class="form-group">
              <label for="inputS2" class="col-sm-4 control-label">S2</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="inputS2"
                       ng-model="vm.model.S2" ng-disabled="!vm.isEditing" required />
              </div>
            </div>
          </div>

          <div class="col-xs-3 sip">
            <div class="form-group">
              <label for="inputS3" class="col-sm-4 control-label">S3</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="inputS3"
                       ng-model="vm.model.S3" ng-disabled="!vm.isEditing" required />
              </div>
            </div>
          </div>

          <div class="col-xs-3 sip">
            <div class="form-group">
              <label for="inputS4" class="col-sm-4 control-label">S4</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="inputF4"
                       ng-model="vm.model.S4" ng-disabled="!vm.isEditing" required />
              </div>
            </div>
          </div>

          <div class="col-xs-12 co">
            <h3>CO</h3>
          </div>

          <div class="col-xs-3 co">
            <div class="form-group">
              <label for="inputCO1" class="col-sm-4 control-label">CO1</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="inputCO1"
                       ng-model="vm.model.CO1" ng-disabled="!vm.isEditing" />
              </div>
            </div>
          </div>

          <div class="col-xs-3 co">
            <div class="form-group">
              <label for="inputCO2" class="col-sm-4 control-label">CO2</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="inputCO2"
                       ng-model="vm.model.CO2" ng-disabled="!vm.isEditing" />
              </div>
            </div>
          </div>

          <div class="col-xs-6 co co-height"></div>

          <div class="col-xs-12 level-tally">
            <h3>Level Tally</h3>
          </div>

          <div class="col-xs-2 level-tally">
            <div class="form-group">
              <label for="inputLT1" class="col-sm-4 control-label">LT1</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="inputLT1"
                       ng-model="vm.model.LT1" ng-disabled="!vm.isEditing" required readonly />
              </div>
            </div>
          </div>

          <div class="col-xs-2 level-tally">
            <div class="form-group">
              <label for="inputLT2" class="col-sm-4 control-label">LT2</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="inputLT2"
                       ng-model="vm.model.LT2" ng-disabled="!vm.isEditing" required readonly />
              </div>
            </div>
          </div>

          <div class="col-xs-2 level-tally">
            <div class="form-group">
              <label for="inputLT3" class="col-sm-4 control-label">LT3</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="inputLT3"
                       ng-model="vm.model.LT3" ng-disabled="!vm.isEditing" required readonly />
              </div>
            </div>
          </div>

          <div class="col-xs-2 level-tally">
            <div class="form-group">
              <label for="inputLT4" class="col-sm-4 control-label">LT4</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="inputLT4"
                       ng-model="vm.model.LT4" ng-disabled="!vm.isEditing" required readonly />
              </div>
            </div>
          </div>

          <div class="col-xs-2 level-tally">
            <div class="form-group">
              <label for="inputT" class="col-sm-4 control-label">Total</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="inputT"
                       ng-model="vm.model.T" ng-disabled="!vm.isEditing" required readonly />
              </div>
            </div>
          </div>

          <div class="col-xs-2 level-tally">
            <div class="form-group">
              <label for="inputSchLevel" class="col-sm-4 control-label">Level</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="inputSchLevel"
                       ng-model="vm.model.SchLevel" ng-disabled="!vm.isEditing" required readonly />
              </div>
            </div>
          </div>

          <div class="col-xs-12">
            <div class="alert alert-info alert-smaller" role="alert" typeof="info"><strong>Last Saved:</strong> {{vm.model.pEditUser}} {{vm.model.pEditDateTime | date:"dd MMM yyyy h:mm a"}}</div>
          </div>
        </div>

      </form>
    </md-tab>

  </md-tabs>

  <img src="assets/img/wait.gif" style="position:absolute; top:50%;left:50%; margin-right:-50%; transform:translate(-50%,-50%)" ng-show="vm.isWaiting" />
</div>