﻿<h4>Filter Dataset <i class="fa fa-question-circle" uib-tooltip="Only display data of interest" tooltip-placement="top"></i></h4>
<div class="well w100">

  <form class="form">

    <div class="form-group">
      <label for="srchSurname">Family Name</label>
      <input class="form-control" id="srchSurname" ng-model="vm.params.Surname" type="text" />
    </div>

    <div class="form-group">
      <label for="srchPayroll">Payroll</label>
      <input class="form-control" id="srchPayroll" ng-model="vm.params.PayrollNo" type="text" />
    </div>

    <div class="form-group">
      <label for="srchAtSchool">At School</label>
      <lookup-selector id="srchAtSchool"
                       lkp="schoolNames"
                       ng-model="vm.params.AtSchool"
                       ng-disabled="vm.findConfig.isLocked('AtSchool')">
      </lookup-selector>
    </div>

    <div class="form-group">
      <label for="srchInYear">In Year</label>
      <input class="form-control" id="srchInYear" ng-model="vm.params.InYear" type="text" />
    </div>

    <div class="text-right">
      <button class="btn btn-inverse" id="Reset" ng-click="vm.Reset()">
        <i class="fa fa-close"></i> Clear
      </button>
      <button class="btn btn-primary" id="findNow" ng-click="vm.FindNow()">
        @*or vm.theFilterReset()*@
        <i class="fa fa-filter"></i> Filter
      </button>
    </div>

  </form>

</div>