﻿@section icon {
  fa fa-graduation-cap
}

@section title {
  {{vm.isNew? 'New Teacher': 'Teacher: ' + vm.model.tFullName }}
}

<div class="appform">

  <md-tabs md-selected="vm.activeTab" md-dynamic-height md-border-bottom>

    @*<md-tab label="Dashboard" ng-disable="vm.isNew">
        <div class="row">
        </div>
      </uib-tab>*@

    <md-tab label="Teacher Info">
      <form novalidate class="form-custom-validation form-horizontal" name="vm.modelForm" ng-submit="vm.save()" role="form">

        <div class="row">
          <div class="col-md-12">
            <h3>General Information</h3>
          </div>
          @*<div class="col-md-3">
              display image of teacher with upload field tImage
            </div>*@

          <div class="col-md-4">
            <div class="form-group">
              <label for="inputtID" class="col-sm-4 control-label">Teacher ID</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="inputtID"
                       ng-model="vm.model.tID" ng-disabled="!(vm.isNew && vm.isEditing)" required />
              </div>
            </div>

            <div class="form-group">
              <label for="inputtNamePrefix" class="col-sm-4 control-label">Name Prefix</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="inputtNamePrefix"
                       ng-model="vm.model.tNamePrefix" ng-disabled="!vm.isEditing" />
              </div>
            </div>

            <div class="form-group">
              <label for="inputtGiven" class="col-sm-4 control-label">Given Name</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="inputtGiven"
                       ng-model="vm.model.tGiven" ng-disabled="!vm.isEditing" required />
              </div>
            </div>

            <div class="form-group">
              <label for="inputtMiddleNames" class="col-sm-4 control-label">Middle Names</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="inputtMiddleNames"
                       ng-model="vm.model.tMiddleNames" ng-disabled="!vm.isEditing" />
              </div>
            </div>

            <div class="form-group">
              <label for="inputtSurname" class="col-sm-4 control-label">Surname</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="inputtSurname"
                       ng-model="vm.model.tSurname" ng-disabled="!vm.isEditing" required />
              </div>
            </div>

            <div class="form-group">
              <label for="inputtNameSuffix" class="col-sm-4 control-label">Name Suffix</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="inputtNameSuffix"
                       ng-model="vm.model.tNameSuffix" ng-disabled="!vm.isEditing" />
              </div>
            </div>



          </div>

          <div class="col-md-4">

            <div class="form-group">
              <label for="inputtSex" class="col-sm-4 control-label">Gender</label>
              <div class="col-sm-8">
                <lookup-selector lkp="gender" ng-model="vm.model.tSex" ng-disabled="!vm.isEditing" />
              </div>
            </div>

            <div class="form-group">
              <label for="inputtDOB" class="col-sm-4 control-label">Date of Birth</label>
              <div class="col-sm-8">
                <sw-date-input id="inputtDOB"
                               ng-model="vm.model.tDOB" ng-disabled="!vm.isEditing" />
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-offset-3 col-sm-12">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" ng-model="vm.model.tDOBEst" ng-disabled="!vm.isEditing" /> Date of Birth Estimated
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="inputtLangMajor" class="col-sm-4 control-label">Major Language</label>
              <div class="col-sm-8">
                <lookup-selector lkp="languages" ng-model="vm.model.tLangMajor" ng-disabled="!vm.isEditing" />
              </div>
            </div>

            <div class="form-group">
              <label for="inputtLangMinor" class="col-sm-4 control-label">Minor Language</label>
              <div class="col-sm-8">
                <lookup-selector lkp="languages" ng-model="vm.model.tLangMinor" ng-disabled="!vm.isEditing" />
              </div>
            </div>


          </div>

          <div class="col-md-12">
            <h3>Registration</h3>
          </div>
          <div class="col-md-4">

            <div class="form-group">
              <label for="inputtRegister" class="col-sm-4 control-label">Registration No</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="inputtRegister"
                       ng-model="vm.model.tRegister" ng-disabled="!vm.isEditing" />
              </div>
            </div>
            <div class="form-group">
              <label for="inputtRegisterStatus" class="col-sm-4 control-label">Status</label>
              <div class="col-sm-8">
                <lookup-selector lkp="teacherRegStatus" ng-model="vm.model.tRegisterStatus" ng-disabled="!vm.isEditing" />
              </div>
            </div>
            <div class="form-group">
              <label for="inputtDateRegister" class="col-sm-4 control-label">Date Registered</label>
              <div class="col-sm-8">
                <sw-date-input id="inputtDateRegister"
                               ng-model="vm.model.tDateRegister" ng-disabled="!vm.isEditing" />
              </div>
            </div>

            <div class="form-group">
              <label for="inputtDateRegisterEnd" class="col-sm-4 control-label">Date Registered End</label>
              <div class="col-sm-8">
                <sw-date-input id="inputtDateRegisterEnd"
                               ng-model="vm.model.tDateRegisterEnd" ng-disabled="!vm.isEditing" />

              </div>
            </div>

            <div class="form-group">
              <label for="inputtRegisterEndReason" class="col-sm-4 control-label">Register End Reason</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="inputtRegisterEndReason"
                       ng-model="vm.model.tRegisterEndReason" ng-disabled="!vm.isEditing" />
              </div>
            </div>

          </div>
          @* appointment *@
          <div class="col-md-4">


            <div class="form-group">
              <label for="inputtDatePSAppointed" class="col-sm-4 control-label">Date PS Appointed</label>
              <div class="col-sm-8">
                <sw-date-input id="inputtDatePSAppointed"
                               ng-model="vm.model.tDatePSAppointed" ng-disabled="!vm.isEditing" />

              </div>
            </div>

            <div class="form-group">
              <label for="inputtDatePSClosed" class="col-sm-4 control-label">Date PS Closed</label>
              <div class="col-sm-8">
                <sw-date-input id="inputtDatePSClosed"
                               ng-model="vm.model.tDatePSClosed" ng-disabled="!vm.isEditing" />
              </div>
            </div>
            <div class="form-group">
              <label for="inputtCloseReason" class="col-sm-4 control-label">Close Reason</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="inputtCloseReason"
                       ng-model="vm.model.tCloseReason" ng-disabled="!vm.isEditing" />
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="inputtYearStarted" class="col-sm-4 control-label">Year Started</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="inputtYearStarted"
                       ng-model="vm.model.tYearStarted" ng-disabled="!vm.isEditing" />
              </div>
            </div>

            <div class="form-group">
              <label for="inputtYearFinished" class="col-sm-4 control-label">Year Finished</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="inputtYearFinished"
                       ng-model="vm.model.tYearFinished" ng-disabled="!vm.isEditing" />
              </div>
            </div>


          </div>

          <div class="col-md-12">
            <h3>Payroll</h3>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="inputtPayroll" class="col-sm-4 control-label">{{"EmployNo" | vocab}}</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="inputtPayroll"
                       ng-model="vm.model.tPayroll" ng-disabled="!vm.isEditing" />
              </div>
            </div>

            <div class="form-group">
              <label for="inputtSalaryPoint" class="col-sm-4 control-label">Salary Point</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="inputtSalaryPoint"
                       ng-model="vm.model.tSalaryPoint" ng-disabled="!vm.isEditing" />
              </div>
            </div>

            <div class="form-group">
              <label for="inputtpayptCode" class="col-sm-4 control-label">Paypoint Code</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="inputtpayptCode"
                       ng-model="vm.model.tpayptCode" ng-disabled="!vm.isEditing" />
              </div>
            </div>
          </div>

          <div class="col-md-4">


            <div class="form-group">
              <label for="inputtSalaryPointDate" class="col-sm-4 control-label">Salary Point Date</label>
              <div class="col-sm-8">
                <sw-date-input id="inputtSalaryPointDate"
                               ng-model="vm.model.tSalaryPointDate" ng-disabled="!vm.isEditing" />
              </div>
            </div>

            <div class="form-group">
              <label for="inputtSalaryPointNextIncr" class="col-sm-4 control-label">Salary Point Next Incr.</label>
              <div class="col-sm-8">
                <sw-date-input id="inputtSalaryPointNextIncr"
                               ng-model="vm.model.tSalaryPointNextIncr" ng-disabled="!vm.isEditing" />
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="inputtProvident" class="col-sm-4 control-label">{{"ProvidentNo" | vocab}}</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="inputtProvident"
                       ng-model="vm.model.tProvident" ng-disabled="!vm.isEditing" />
              </div>
            </div>

          </div>

          <div class="col-md-12">
            <h3>Miscellanenous</h3>

            <div class="form-group">
              <label for="inputtComment" class="col-sm-4 control-label">Comment</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="inputtComment"
                       ng-model="vm.model.tComment" ng-disabled="!vm.isEditing" />
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="alert alert-info alert-smaller" role="alert" typeof="info"><strong>Last Saved:</strong> {{vm.model.pEditUser}} {{vm.model.pEditDateTime | date:"dd MMM yyyy h:mm a"}}</div>
          </div>
        </div>

      </form>
    </md-tab>

    <md-tab label="Appointments" ng-disable="vm.isNew">
      <component-teacher-appointment-list appointments="vm.model.Appointments"></component-teacher-appointment-list>
    </md-tab>

    <md-tab label="Surveys" ng-disable="!vm.model.Surveys.length">
      <component-teacher-survey-list surveys="vm.model.Surveys"></component-teacher-survey-list>
    </md-tab>

    <md-tab heading="Qualifications" ng-disable="vm.isNew">
      <table class="schoolsurveys table table-condensed table-striped table-hover">
        <thead>
          <tr>
            <th class="colhdr">Year</th>
            <th class="colhdr gray-left-border">Pre</th>
            <th class="colhdr gray-left-border">Complete</th>
            <th class="colhdr gray-left-border">Qualification</th>
            <th class="colhdr gray-left-border">Institution</th>
            <th class="colhdr gray-left-border">Duration</th>
            <th class="colhdr gray-left-border">Duration Unit</th>
            <th class="colhdr gray-left-border">Major</th>
            <th class="colhdr gray-left-border">Minor</th>
            <th class="colhdr gray-left-border">Progress</th>
            <th class="colhdr gray-left-border">Progress %</th>
            <th class="colhdr gray-left-border">Comment</th>
          </tr>
        </thead>
        <tbody>
          <tr data-ng-repeat="q in vm.model.Qualifications">
            <td>{{q.trYear}}</td>
            <td>{{q.trPre}}</td>
            <td>{{q.trComplete}}</td>
            <td>{{q.trQual}}</td>
            <td>{{q.trInstitution}}</td>
            <td>{{q.trDuration}}</td>
            <td>{{q.trDurationUnit}}</td>
            <td>{{q.trMajor}}</td>
            <td>{{q.trMinor}}</td>
            <td>{{q.trProgress}}</td>
            <td>{{q.trProgressPerc}}</td>
            <td>{{q.trComment}}</td>
          </tr>
        </tbody>
      </table>
    </md-tab>

    <md-tab label="Payslips" ng-disable="!vm.model.Payslips.length">
      <component-teacher-payslip-list payslips="vm.model.Payslips"></component-teacher-payslip-list>
    </md-tab>

    <md-tab label="Documents">
      <component-teacher-links links="vm.model.Documents" teacher="vm.model"></component-teacher-links>
    </md-tab>

    @*list of reports served from Jasper report server*@
    <md-tab label="Reports">
      <report-list folder="Teachers/Teacher" context="{TeacherID: vm.model.tID}" set-params="vm.setReportParams(report, context,instanceInfo)"></report-list>
    </md-tab>

  </md-tabs>

  <img src="assets/img/wait.gif" style="position:absolute; top:50%;left:50%; margin-right:-50%; transform:translate(-50%,-50%)" ng-show="vm.isWaiting" />
</div>
