﻿<div class="verticalcenter" ng-controller="LoginController as vm">
    <div class="panel panel-primary">
        <div class="panel-body">
            <img src="asset/logo" width="150" />
            <form novalidate class="form-custom-validation form-horizontal" name="form" ng-submit="vm.logIn(email, password, rememberMe)" role="form">
                <div class="form-group">
                    <label for="email" class="control-label col-sm-4" style="text-align: left;">Account Name</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="email" placeholder="Account Name" ng-model="email" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="control-label col-sm-4" style="text-align: left;">Password</label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control" id="password" placeholder="Password" ng-model="password" required>
                    </div>
                </div>
                <div class="clearfix">
                    <div class="pull-right"><label><input type="checkbox" ng-model="rememberMe"> Stay logged in</label></div>
                </div>
                <div class="form-actions">
                    <i class="icon-spinner icon-spin icon-large"></i>
                    <button type="submit" class="btn btn-primary btn-block" ng-disabled="form.$invalid || loginInProcess">
                        {{loginState}} <i class="fa fa-spinner spinning" ng-show="loginInProcess" aria-hidden="true"></i>
                    </button>
                </div>
            </form>
        </div>
        <div class="panel-footer">
            <div class="col-md-6">
                <a ui-sref="forgotpassword">Forgot password?</a>
            </div>
            <div class="col-md-6">
                <div class="text-danger">{{messageText}}</div>
            </div>
        </div>
    </div>
</div>