﻿<div class="verticalcenter">

  <div class="panel panel-primary">

    <div class="panel-body">
      <h4 class="text-center" style="margin-bottom: 25px;">Register New User</h4>
      <form action="#" class="form-horizontal" style="margin-bottom: 0px !important;">

        <div class="form-group">
          <div class="col-sm-12">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-user"></i></span>
              <input type="text" class="form-control" id="email" placeholder="E-mail" ng-model="vm.Email">
            </div>
          </div>
        </div>
        <div>
          <div class="col-sm-12" ng-repeat="msg in vm.ModelState['model.Email']">{{msg}}</div>
        </div>
        <div class="form-group">
          <div class="col-sm-12">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-lock"></i></span>
              <input type="text" class="form-control" id="menukey" ng-model="vm.MenuKey" placeholder="Menu Key">
            </div>
          </div>
        </div>
        <div>
          <div class="col-sm-12" ng-repeat="msg in vm.ModelState['model.MenuKey']">{{msg}}</div>
        </div>
        <div class="form-group">
          <div class="col-sm-12">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-lock"></i></span>
              <input type="text" class="form-control" id="permission" ng-model="vm.Permission" placeholder="Permission String">
            </div>
          </div>
        </div>
        <div>
          <div class="col-sm-12" ng-repeat="msg in vm.ModelState['model.Permission']">{{msg}}</div>
        </div>
        <div class="form-group">
          <div class="col-sm-12">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-lock"></i></span>
              <input type="password" class="form-control" id="currentpassword" ng-model="vm.Password" placeholder="Password">
            </div>
          </div>
        </div>
        <div>
          <div class="col-sm-12" ng-repeat="msg in vm.ModelState['model.Password']">{{msg}}</div>
        </div>



        <div class="form-group">
          <div class="col-sm-12">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-lock"></i></span>
              <input type="password" class="form-control" ng-model="vm.confirmPassword" placeholder="Confirm New Password">
            </div>
          </div>
        </div>
        <div>
          <div class="col-sm-12" ng-repeat="msg in vm.ModelState['model.ConfirmPassword']">{{msg}}</div>
        </div>


      </form>
      <div>
        <div class="col-sm-12" ng-repeat="msg in vm.ModelState['']">{{msg}}</div>
      </div>
    </div>
    <div class="panel-footer">
      <div class="pull-right">
        <a href="" class="btn btn-default" ng-click="vm.register(vm.UserName, vm.Email, vm.Password, vm.confirmPassword, vm.MenuKey, vm.Country, vm.Permission)">Register</a>
      </div>
    </div>
  </div>
</div>
