﻿@{
    Layout = null;
}

<div class="modal-header">
  <h3 class="modal-title">{{vm.title}}</h3>
  <div>{{vm.prompt}}</div>
</div>
<div class="modal-body">
    <table class="table table-hover">
      <tr ng-repeat="code in vm.codeset" ng-class="{'active': vm.selected === code}">
        <td>
          <a href="" ng-click="vm.select(code)">{{code.C}}: {{ code.N}}</a>
        </td>
      </tr>
    </table>

</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="vm.ok()">Select</button>
  <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
</div>