﻿@{
    Layout = null;
}

<div class="modal-header">
  <h3 class="modal-title">Save Conflict</h3>
</div>
<div class="modal-body">
  <div>The record you tried to update has been changed by {{vm.newVersion.pEditUser}} at {{vm.newVersion.pEditDateTime | date:'d MMM yyyy hh:mm'}}. You can either</div>
  <ul>
    <li>Save your changes: overwrite the other user's changes with your own</li>
    <li>Load the other user's changes - the changes you have made will be lost</li>
  </ul>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="vm.close('overwrite')">Save my changes - Overwrite</button>
  <button class="btn btn-primary" type="button" ng-click="vm.close('discard')">Discard my changes - load new values</button>
  <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
</div>