﻿@{
    Layout = null;
}

<div class="modal-header">
  <h3 class="modal-title">Save Errors</h3>
</div>
<div class="modal-body">
  <div>An error occurred saving the record:</div>
  <ul>
    <li>{{vm.errorInfo.data.Message}}</li>
  </ul>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="vm.close('retry')">Try again</button>

  <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
</div>