﻿@{
    Layout = null;
}

<div class="modal-header">
  <h3 class="modal-title">Record Not Found</h3>
</div>
<div class="modal-body">
  <div>The record with key</div>
  <ul>
    <li>{{vm.id}}</li>
  </ul>
  <div>could not be found. It may have been deleted by another user.</div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="vm.close('retry')">Try again</button>

  <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Close</button>
</div>