﻿@{
    Layout = null;
}

<div class="modal-header">
  <h3 class="modal-title">No Permission</h3>
</div>
<div class="modal-body">
  <div>You do not have permission to perform this operation:</div>
  <div>Permission required:</div>
  <ul>
    <li>{{vm.Topic}} - {{vm.errorInfo.Required}}</li>
  </ul>
  <div>Your permissions:</div>
  <ul>
    <li>{{vm.Topic}} - {{vm.errorInfo.Current}}</li>
  </ul>

</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="vm.close('retry')">Try again</button>

  <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
</div>