﻿@{
    Layout = null;
}

<div class="modal-header">
  <h3 class="modal-title">Successfully created {{vm.entity._type()}} {{vm.entity._id()}}: {{vm.entity._name()}}</h3>
</div>
<div class="modal-body">
  <div>Add another {{vm.entity._type()}}?</div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="vm.close('create')">Ok</button>

  <button class="btn btn-warning" type="button" ng-click="vm.cancel()">No</button>
</div>