﻿@{
    Layout = null;
}

<div class="modal-header">
  <h3 class="modal-title">Duplicate Record</h3>
</div>
<div class="modal-body">
  <div>A record with key</div>
  <ul>
    <li>{{vm.id}}</li>
  </ul>
  <div>already exists.</div>
</div>
<div class="modal-footer">
  <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Close</button>
</div>