﻿@{
    Layout = null;
}

<div class="modal-header">
  <h3 class="modal-title">Save Errors</h3>
</div>
<div class="modal-body">
  <div>The record you tried to update has problems that must be fixed before it can be saved:</div>
  <ul>
    <li>{{vm.validation.field}}: {{vm.validation.message}}</li>
  </ul>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="vm.close('retry')">I have fixed this - try to save again</button>
  <button class="btn btn-primary" type="button" ng-click="vm.close('goto')">Go to problem</button>
  <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
</div>