﻿<div>
  <h4>Warehouse Admin Page</h4>

  <div></div>
  This command will update the Data Warehouse tables from the current data.
  You should run this operation when data entry is complete, the data is clean and verified, and you are ready to produce annual reports and update the Indicators pages.
  </div>
  <button class="btn btn-primary" ng-click="vm.refresh()">Update warehouse</button>

  <div ng-show="vm.isWaiting">Please wait while the warehouse is refreshed - this may take a few minutes...</div>
</div>